@media only screen and (min-width: 767.98px) {
  .main-nav .upper-head {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 992px) {
  .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 155px;
    height: calc(100vh - 150px);
    margin-top: 142px;
    background: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    padding-left: 15px;
    padding-right: 2rem!important;
    padding-top: 5px;
}

  .navbar-expand-lg .sidenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (max-width: 991px){
	.container-content-right {
    padding-left: 0px;
	}
    .table-header-block.fixed {
    top: 76px;
    }
}

@media only screen and (max-width: 400px){
    .main-price-block-calc {
    width: 100%;
    max-width: 287px;
    }
}
