@charset "UTF-8";

@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-Black/Montserrat-Black.woff2') format('woff2'), 
       url('../fonts/Montserrat-Black/Montserrat-Black.woff') format('woff'); 
  font-weight: 900; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff2') format('woff2'), 
       url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff') format('woff'); 
  font-weight: 800; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-ExtraBoldItalic/Montserrat-ExtraBoldItalic.woff2') format('woff2'), 
       url('../fonts/Montserrat-ExtraBoldItalic/Montserrat-ExtraBoldItalic.woff') format('woff'); 
  font-weight: 800; 
  font-style: italic; 
}
@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.woff2') format('woff2'), 
       url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'); 
  font-weight: 700; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.woff2') format('woff2'), 
       url('../fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.woff') format('woff'); 
  font-weight: 700; 
  font-style: italic; 
}
@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2') format('woff2'), 
       url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff'); 
  font-weight: 600; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.woff2') format('woff2'), 
       url('../fonts/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.woff') format('woff'); 
  font-weight: 600; 
  font-style: italic; 
}
@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'), 
       url('../fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'); 
  font-weight: 500; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-MediumItalic/Montserrat-MediumItalic.woff2') format('woff2'), 
       url('../fonts/Montserrat-MediumItalic/Montserrat-MediumItalic.woff') format('woff'); 
  font-weight: 500; 
  font-style: italic; 
}
@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2'), 
       url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-Italic/Montserrat-Italic.woff2') format('woff2'), 
       url('../fonts/Montserrat-Italic/Montserrat-Italic.woff') format('woff'); 
  font-weight: 400; 
  font-style: italic; 
}
@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-Light/Montserrat-Light.woff2') format('woff2'), 
       url('../fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'); 
  font-weight: 300; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-LightItalic/Montserrat-LightItalic.woff2') format('woff2'), 
       url('../fonts/Montserrat-LightItalic/Montserrat-LightItalic.woff') format('woff'); 
  font-weight: 300; 
  font-style: italic; 
}
@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-ExtraLight/Montserrat-ExtraLight.woff2') format('woff2'), 
       url('../fonts/Montserrat-ExtraLight/Montserrat-ExtraLight.woff') format('woff'); 
  font-weight: 200; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-ExtraLightItalic/Montserrat-ExtraLightItalic.woff2') format('woff2'), 
       url('../fonts/Montserrat-ExtraLightItalic/Montserrat-ExtraLightItalic.woff') format('woff'); 
  font-weight: 200; 
  font-style: italic; 
}
@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-Thin/Montserrat-Thin.woff2') format('woff2'), 
       url('../fonts/Montserrat-Thin/Montserrat-Thin.woff') format('woff'); 
  font-weight: 100; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Montserrat'; 
  src: url('../fonts/Montserrat-ThinItalic/Montserrat-ThinItalic.woff2') format('woff2'), 
       url('../fonts/Montserrat-ThinItalic/Montserrat-ThinItalic.woff') format('woff'); 
  font-weight: 100; 
  font-style: italic; 
}
body {
  padding-top: 6.5rem;
  font-family: 'Montserrat', sans-serif;
  font-style: 400;
}
input:hover,
a:hover,
button:hover {
  cursor: pointer;
  text-decoration: none !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button,
input {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

input[type='number'] {
  -moz-appearance: textfield !important;
  -webkit-appearance: none !important;
  appearance: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.wrapPreloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper-page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content-wrapper-page {
    flex: 1 0 auto;
    width: 100%;
    overflow: hidden;
}
.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #E6E6E6;
  }

  25% {
    stroke: #DCDCDC;
  }

  50% {
    stroke: #95DB4C;
  }

  75% {
    stroke: #71CB42;
  }

  100% {
    stroke: #56B624;
  }
}

@keyframes colors {
  0% {
    stroke: #E6E6E6;
  }

  25% {
    stroke: #DCDCDC;
  }

  50% {
    stroke: #95DB4C;
  }

  75% {
    stroke: #71CB42;
  }

  100% {
    stroke: #56B624;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.main-nav {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.102);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.102);
    background: #FFFFFF;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    opacity: 1;
}
.navbar {
    padding: .5rem 0;
}
.container-center {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.main-nav button {
    position: relative;
    z-index: 1;
}
.main-nav .navbar-toggler {
    border: none;
    outline: none;
}
.main-nav button.navbar-toggler {
    z-index: 4;
    width: 58px;
}
.main-nav .toogler-hide {
    display: none;
}
.main-nav .select-company .userpic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.main-nav .select-company .menu-company button {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #212121;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.main-nav .select-company .menu-company a {
    color: #212121;
}
.main-nav .select-company .menu-company .dropdown-menu .my-company {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    width: 155px;
}
.main-nav .select-company .menu-company a {
    color: #212121;
}
.main-nav .select-company .menu-company .dropdown-menu .dropdown-item {
    background: none;
}
.main-nav .select-company .menu-company .dropdown-menu .dropdown-item span {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.main-nav .select-company .menu-company .dropdown-menu .dropdown-item {
    background: none;
}
.main-nav .select-company .menu-company button {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #212121;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.main-nav .select-company .menu-company .dropdown-menu .btn-add-company {
    background: none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.main-nav .select-company .menu-company .dropdown-menu .add-company {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    width: 204px;
}
.main-nav .exit a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #212121;
}
.dropdown-toggle::after{
  display: none;
}

.hidden{
  display: none;
}
.align-items-center {
    -ms-flex-align: center;
    align-items: center;
}
.align-items-flex-end {
    -ms-flex-align: flex-end;
    align-items: flex-end;
}
.align-items-flex-start {
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
.text-align-left{
    text-align: left;
}
.text-align-center{
    text-align: center;
}
.text-align-right{
    text-align: right;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.justify-content-flex-end {
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}
.justify-content-flex-start {
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}
.flex-wrap-reverse{
    flex-wrap: wrap-reverse;
}

.popup {
    width: 710px;
    margin: 0;
    padding: 40px;
    background: #FFFFFF;
    border-radius: 5px;
}
.fancybox-close-small {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    padding: 0;
    outline: none;
    margin: 0;
    border: 0;
    border-radius: 0;
    z-index: 10;
    cursor: pointer;
    background-image: url('../img/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}
.title-popup-h3{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #212121;
    margin: 0;
}
.btn-content-popup{
    margin-top: 30px;
}
.btn-page-popup {
    padding: 14px;
}
.content-popup {
    margin-top: 25px;
    margin-bottom: 20px;
}
.content-wrapper {
    padding-top: 40px;
}
.selectmenu-page + .ui-selectmenu-button {
    width: 100%;
    height: 41px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #212121;
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    display: block;
    position: relative;
    padding: 10px 45px 10px 18px;
    cursor: pointer;
}
.selectmenu-page + .ui-selectmenu-button .ui-selectmenu-icon {
    width: 41px;
    background: url(../img/line-in-bottom-green.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-position: center;
}
.ui-menu {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 3px 6px rgba(158, 158, 158, 0.24);
    box-shadow: 0px 3px 6px rgba(158, 158, 158, 0.24);
    border-radius: 0px 0px 5px 5px;
    list-style: none;
    padding: 0;
}
.ui-menu li > div {
    padding: 5px 5px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #212121;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #212121;
    padding: 8px 16px;
}
.ui-menu li > div:hover, .ui-menu li > div.ui-state-active {
    background: #F5F5F5;
}
.selectmenu-page + .ui-selectmenu-button.ui-selectmenu-button-open .ui-selectmenu-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.ui-selectmenu-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.ui-selectmenu-open {
    display: block;
}
.ui-front {
    z-index: 10000000;
}
.main-nav .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #212121;
    border-bottom: 3px solid rgba(203, 203, 203, 0.29);
    padding: 1rem 0rem;
}

.main-nav .navbar-nav .nav-item.active .nav-link {
    border-bottom: 3px solid #71CB42;
}
.main-nav .navbar-nav .nav-item .nav-link:hover {
    border-bottom: 3px solid #71CB42;
}
.main-nav .menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100vh;
    background: #FFFFFF;
    -webkit-transition: left 0.35s ease;
    transition: left 0.35s ease;
    overflow-y: auto;
    padding: 70px 50px;
    -webkit-box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.main-nav .menu .nav-item {
    width: 35vw;
}
.main-nav .menu .btn-select-company {
    border: none;
    background: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.main-nav .mob-select-company {
    overflow: hidden;
    position: fixed;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF7A00), color-stop(86.24%, #EE4700));
    background: linear-gradient(180deg, #FF7A00 0%, #EE4700 86.24%);
    -webkit-transition: top 0.55s ease;
    transition: top 0.55s ease;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.main-nav .mob-select-company .btn-with-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.main-nav .mob-select-company .btn-with-title .mob-my-company {
    width: 55%;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
}
.main-nav .mob-select-company .btn-with-title .close-select {
    border: none;
    background: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.main-nav .mob-select-company .company-with-pic {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.container-content-right {
    padding-left: 155px;
}
.main-nav .menu-opened {
    left: 0;
}

.link-main-price-block-calc a {
    color: rgb(175, 167, 167);
    text-decoration: underline!important;
}
.link-main-price-block-calc a:hover{
  text-decoration: none!important;
}
.link-main-price-block-calc {
    margin-top: 10px;
}













/*Калькулятор*/

.link-calc-back{
  display: inline-block;
  position: relative;
  padding-left: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #BDBDBD;
}
.link-calc-back:hover{
  text-decoration: underline!important;
  color: #BDBDBD;
}
.link-calc-back::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 17px;
    height: 16px;
    background-image: url(../img/arr-back.svg);
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(0,-50%);
}
.link-calc-back-block {
    text-align: right;
}
.text-calc-tp-info{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
}
.title-calc-form-page{
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #212121;
}
.top-calc-main-block-wrap {
    margin-bottom: 36px;
}
.btn-calc {
    display: inline-block;
    padding: 18px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background-color: #71CB42;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    transition: all 0.4s;
}
.btn-calc:hover{
  background-color: #589c35;
}
.top-txt-main-price-block-calc {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 21px;
}
.price-main-price-block-calc {
    font-weight: bold;
    font-size: 56px;
    line-height: 68px;
}
.main-price-block-calc {
    color: #212121;
    text-align: center;
    width: 287px;
    margin-left: auto;
    position: absolute;
    right: 40px;
    top: 0;
    padding-top: 80px;
}
.info-main-price-block-calc {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
}

.radio-calc-tab{
  display: block;
  position: relative;
  margin-bottom: 0;
}
.radio-tab{
  display: none;
}
.radio-tab-calc-list{
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.radio-tab + span {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #212121;
    transition: all 0.4s;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    padding: 12px;
}
.w-206{
  width: 206px;
}
.radio-tab:checked + span{
  color: #FFFFFF;
  background: #71CB42;
  box-shadow: none;
}
.radio-tab-calc-list li:first-child .radio-tab + span{
   border-radius: 10px 0 0 10px;
}
.radio-tab-calc-list li:last-child .radio-tab + span{
   border-radius: 0px 10px 10px 0px;
}

.list-content-calc {
    margin-top: 35px;
}
.mrb-30{
  margin-bottom: 30px;
}
.mrb-15{
  margin-bottom: 15px;
}
.justify-content-between{
  justify-content: space-between;
}
.label-page {
    display: block;
    font-size: 15px;
    line-height: 18px;
    color: #818181;
    margin-bottom: 10px;
}
.w-76{
  width: 76px;
}
.items-tabs-content-calc {
    margin-top: 34px;
}
.table-header-block{
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.table-header-block.fixed {
    position: fixed;
    top: 92px;
    left: 0;
    z-index: 1030;
    background-color: #fff;
    border-color: #E6E6E6;
}
.it-content-calc {
    position: relative;
}
.selectmenu-page-black + .ui-selectmenu-button .ui-selectmenu-icon {
    background-image: url(../img/arr-black-select.svg);
}
.w-347{
  max-width: 347px;
}
.it-calc-pl-min{
  align-items: center;
}
.plus-btn,
.minus-btn{
  background-color: #71CB42;
  padding: 0;
  margin: 0;
  display: flex;
  border-radius: 50%;
  transition: all 0.4s;
  align-items: center;
  justify-content: center;
  width: 35.5px;
  height: 35.5px;

}
.none_active{
  background-color: #F5F5F5;
  pointer-events: none;
}
.inp-val {
    font: inherit;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #212121;
    width: 44px;
    text-align: center;
    border: 0;
    outline: none;
    margin: 0 3px;
}

.slider-calc-block {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    padding: 13px 19px 15px 19px;
}
.slider-calc-page .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    background-color: #71CB42;
    border-radius: 50%;
    top: -11px;
    left: 0;
    outline: none;
    margin-left: -.6em;
    cursor: pointer;
}
.slider-calc-page {
    background: #E6E6E6;
    height: 2px;
    position: relative;
    cursor: pointer;
}
.slider-calc-page .ui-slider-range {
    height: 2px;
    background-color: #71CB42;
}
.slide-val-input {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 14px;
    padding-left: 7px;
}
.slide-val-span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 24px;
    padding-left: 7px;
    display: inline-block;
}

.label-it-checkbox-calc {
    display: block;
    width: 44px;
    height: 24px;
    position: relative;
    margin-bottom: 0;
}
.checkbox-calc-page {
    display: none;
}
.checkbox-calc-page + span {
    width: 100%;
    height: 100%;
    display: block;
    background: #E0E0E0;
    border-radius: 100px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
}
.checkbox-calc-page + span:before {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    background: #FFFFFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.checkbox-calc-page:checked + span {
    background: #71CB42;
}
.checkbox-calc-page:checked + span:before {
    left: 22px;
}
.text-it-checkbox-calc {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    width: calc(100% - 44px);
    padding-left: 19px;
}
.it-checkbox-calc-content{
  align-items: center;
}
.options-link-calc{
  font-size: 15px;
  line-height: 18px;
  text-decoration: underline;
  color: #818181;
  position: relative;
  padding-right: 20px;
}
.options-link-calc:hover{
  color: #818181;
}
.options-link-calc::before{
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0,-50%);
  width: 10px;
  height: 10px;
  background-image: url('../img/arr-link-toggle.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.options-link-calc.active::before{
  transform: translate(0,-50%) rotate(180deg);
}
.list-calc-checkboxs {
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-top: 30px;
}
.list-calc-checkboxs li {
    margin-bottom: 37px;
}
.list-calc-checkboxs li:last-child{
  margin-bottom: 0px;
}
.calc-main-block-wrapper {
    padding-bottom: 40px;
}
.hidden-content-toggle {
    padding-left: 63px;
    padding-top: 25px;
}
.hidden-content-block {
    padding-top: 50px;
    display: none;
}
.btn-calc-chek {
    width: 187px;
    text-align: center;
    display: block;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    background-color: transparent;
    padding: 13px 5px;
    position: relative;
    transition: all 0.4s;
}
.btn-calc-chek::before {
    content: '';
    position: absolute;
    right: -1px;
    top: 50%;
    transform: translate(0,-50%);
    background-color: #E6E6E6;
    width: 2px;
    height: 57%;
}
.btn-calc-chek.active,
.btn-calc-chek:hover{
  background-color: #71CB42;
  color: #fff;
}
.btn-calc-chek.active::before,
.btn-calc-chek:hover::before{
  opacity: 0;
}
.btn-calc-chek:last-child::before{
  display: none;
}
.btn-calc-ls{
  display: inline-block;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.btn-calc-ls-wrpa{
  position: relative;
}
.item-tab-calc,
.block--content-tb-calc{
  display: none;
}
.item-tab-calc.active,
.block--content-tb-calc.active{
  display: block;
}
.it-checkbox-calc-min .text-it-checkbox-calc {
    font-size: 15px;
    line-height: 18px;
    color: #818181;
    font-weight: 400;
    width: auto;
}
.it-checkbox-calc-min .label-it-checkbox-calc {
    width: 33px;
    height: 18px;
}
.it-checkbox-calc-min .checkbox-calc-page + span:before {
    width: 14.70px;
    height: 14.70px;
    top: 1.5px;
}
.it-checkbox-calc-min .checkbox-calc-page:checked + span:before {
    left: 17px;
}
.bottom-chek-calc {
    width: 374px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 9px;
}
.main-price-block-calc.fixed {
    position: fixed;
    transform: translate(195%);
    right: 50%;
    top: 127px;
}
.text-calc-tp-info span{
  display: inline-block;
}
.search-filter {
    position: relative;
}
.input-bl {
    width: 100%;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 41px;
    padding-left: 15px;
    padding-right: 60px;
}
.btn-search {
    width: 51px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/loupe.svg);
    background-color: transparent;
    border-radius: 0 5px 5px 0;
}
.flex-class{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.align-items-center{
  align-items: center;
}
.selectmenu-page-style + .ui-selectmenu-button {
    width: 100%;
    border: 1px solid #71CB42;
    border-radius: 5px;
    height: 41px;
    padding-left: 15px;
    display: block;
    color: #212121;
    outline: none;
    padding-top: 8px;
    padding-right: 36px;
    position: relative;
    cursor: pointer;
}
.selectmenu-page-style + .ui-selectmenu-button .ui-selectmenu-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    background-image: url(../img/arr-black-select.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
}
.ui-menu {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 3px 6px rgba(158, 158, 158, 0.24);
    box-shadow: 0px 3px 6px rgba(158, 158, 158, 0.24);
    border-radius: 0px 0px 5px 5px;
    list-style: none;
    padding: 0;
    overflow-y: auto;
    overflow: auto;
    max-height: 260px;
}
.ui-menu li > div {
    padding: 5px 5px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #212121;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #212121;
    padding: 8px 16px;
}
.ui-menu li > div:hover, .ui-menu li > div.ui-state-active {
    background: #F5F5F5;
}
.ui-state-disabled {
    display: none;
}
main .main-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #E6E6E6;
}
.table-page-flex-wrapper {
    border: 1px solid #E6E6E6;
    width: 100%;
    max-width: 100%;
    margin-top: 40px;
}
.pagination-table-block-ls {
    padding: 15px;
    position: relative;
}
.pagin-ls-page {
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.pagin-ls-page li {
    margin: 0 10px;
}
.pagin-ls-page a {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    transition: all 0.4s;
}
.pagin-ls-page a:hover, .pagin-ls-page a.active {
    color: #71CB42;
}
.style-pagin {
    fill: #E6E6E6;
    transition: all 0.4s;
}
.btn-pagin:hover .style-pagin {
    fill: #71CB42;
}
.table-flex-style{
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}
.table-flex-style .th-flex{
  font-weight: 600;
  color: #BDBDBD;
}
.td-flex, .th-flex {
    padding: 12px 5px;
}
.tr-flex{
  border-bottom: 1px solid #E6E6E6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.avatar-link{
  display: block;
}
.avatar-link span{
  display: inline-block;
  vertical-align: middle;
}


.td-name-block-wrap {
    width: 100%;
    display: block;
    position: relative;
}
.td-name-block {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
    position: relative;
}
.text-td-name-block {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    color: inherit;
    border-bottom: 1px dashed transparent;
}
.text-td-name-block:hover{
  color: inherit;
  text-decoration: underline!important;
}
.td-name-block-wrap.hover .text-td-name-block {
    border-color: #212121;
    transition: all 0.4s;
    text-decoration: none!important;
}
.td-name-block-wrap.hover:hover .text-td-name-block {
    border-color: transparent;

}
.hidden-block-name {
    display: none;
    position: absolute;
    right: 1px;
    bottom: 30px;
    background-color: #212121;
    border-radius: 3px;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 5px;
    width: 250px;
    text-align: center;
}
.td-name-block-wrap.hover:hover .hidden-block-name{
  display: block;
}
.text-row-count-block {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    width: 122px;
    margin-right: 7px;
}
.row-count-block {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0px, -50%);
}
.selectmenu-page-count + .ui-selectmenu-button {
    width: 100%;
    height: auto;
    display: block;
    color: #212121;
    outline: none;
    padding-right: 21px;
    position: relative;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.selectmenu-page-count + .ui-selectmenu-button .ui-selectmenu-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 17px;
    background-image: url(../img/arr-black-select-count.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.footer {
    position: relative;
    z-index: 1031;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 30px;
    box-shadow: 0px -4px 5px -4px rgba(0, 0, 0, 0.14);
    margin-top: 50px;
    flex: 0 0 auto;
    overflow: hidden;
    width: 100%;
}
.tel-item-footer-content:last-child{
  margin-bottom: 0;
}
.tel-item-footer-content {
    margin-bottom: 50px;
}
.txt-tel-item-footer-content {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #818181;
    margin-top: 10px;
}
.tel-footer-page {
    display: inline-block;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.07em;
    color: #212121;
}
.txt-foo-page {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.07em;
    color: #818181;
}
.email-tablet-cls {
    display: none;
}
.title-item-footer-content {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
}
.title-item-footer-content a {
    color: inherit;
}
.list-document-footer {
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-top: 10px;
}
.list-document-footer li {
    margin-bottom: 10px;
}
.list-document-footer a {
    font-size: 18px;
    line-height: 22px;
    color: #818181;
}
.txt-tel-item-footer-content {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #818181;
    margin-top: 10px;
}
.list-social-page a {
    display: flex;
    background: #F4F5F5;
    border-radius: 10px;
    width: 58px;
    height: 58px;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}
.list-social-page a.instagram:hover {
    background-color: #c73b70;
}
.list-social-page a.facebook:hover {
    background-color: #4267b2;
}
.list-social-page a.vk:hover {
    background-color: #007bff;
}
.list-social-page {
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-top: 33px;
    margin-bottom: 15px;
}
.list-social-page li {
    margin-right: 16px;
}
.list-document-footer a:hover {
    text-decoration: underline!important;
    color: #818181;
}
.link-page-table{
  color: inherit;
}
.link-page-table:hover{
  color: inherit;
  text-decoration: underline!important;
}
.num-item-number-wrp{
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #212121;
}
.text-item-number-wrp{
  margin-right: 10px;
}
.item-number-wrp {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #BDBDBD;
    margin-right: 20px;
}
.item-number-wrp:last-child{
  margin-right: 0;
}
.item-number-wrp-flex{
  display: flex;
  flex-wrap: wrap;
}
.info-numbers-items-wrapper {
    margin-top: 10px;
}
.mrb-10{
  margin-bottom: 10px;
}

.content-salary-block-main{
  margin-top: 30px;
}
.text-amount-earned-block-info {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #E6E6E6;
    margin-right: 16px;
    margin-top: 10px;
}
.number-amount-earned-block-info {
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #212121;
    display: inline-block;
    margin-top: 10px;
}
.table-flex-style .th-flex {
    font-weight: 600;
    color: #BDBDBD;
}
.table-flex-style {
    border: 1px solid #E6E6E6;
    width: 100%;
    max-width: 100%;
}
.table-flex-style .tr-flex:last-child{
  border-bottom: 0;
}
.table-flex-style .subtitle-table {
    color: #212121;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    padding: 18px 5px;
}
.table-job-respon-wrapper {
    margin-top: 23px;
}


.td-txt-block-wrap {
    width: 100%;
    display: block;
    position: relative;
}
.td-txt-block {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
    position: relative;
}
.text-td-txt-block {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    color: inherit;
    border-bottom: 1px dashed transparent;
    pointer-events: none;
}
.td-txt-block-wrap.hover .text-td-txt-block {
    border-color: #212121;
    transition: all 0.4s;
    text-decoration: none!important;
    color: inherit;
    pointer-events: auto;
}
.hidden-block-txt {
    display: none;
    position: absolute;
    right: 1px;
    bottom: 30px;
    background-color: #212121;
    border-radius: 3px;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 5px;
    max-width: 250px;
}
.td-txt-block-wrap.hover:hover .hidden-block-txt {
    display: block;
}
.td-txt-block-wrap.hover:hover .text-td-txt-block {
    border-color: transparent;
}
.tb-group-list-tabs-content-number {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-left: 10px;
    color: #212121;
}
.tb-group-list-tabs-content-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    max-width: 165px;
}
.tb-group-list-tabs-content-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.tb-group-list-tabs-content {
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    display: block;
    height: 100%;
    padding: 14px;
    transition: all 0.4s;
    position: relative;
}
.list-tabs-content-table {
    list-style: none;
    padding: 0;
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}
.group-list-tabs-content {
    width: 33.33%;
    padding: 0 15px;
}
.tb-group-list-tabs-content-text-1 {
    max-width: 145px;
}
.tb-group-list-tabs-content.active,
.tb-group-list-tabs-content:hover{
  border-color: #71CB42;
}
.item-tabs-content-table{
  display: none;
}
.item-tabs-content-table.active{
  display: block;
}
.tabs-content-table {
    margin-top: 24px;
}
.pr-120 {
    padding-right: 120px;
}
.selectmenu-page-filter + .ui-selectmenu-button {
    width: 100%;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 41px;
    padding-left: 15px;
    display: block;
    color: #BDBDBD;
    outline: none;
    padding-top: 8px;
    padding-right: 36px;
    position: relative;
    cursor: pointer;
}
.selectmenu-page-filter + .ui-selectmenu-button .ui-selectmenu-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    background-image: url('../img/arr-select-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.arr-block-tab {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
    width: 45px;
    height: 17px;
    background-image: url(../img/arr-tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    display: block;
}
.tb-group-list-tabs-content.active .arr-block-tab{
  opacity: 1;
}
.nav-item ul {
    padding: 0;
    list-style: none;
    padding-top: 15px;
    display: none;
}
.nav-item ul li {
    position: relative;
    padding-left: 15px;
    color: #212121;
    margin-bottom: 12px;
}
.nav-item ul li a {
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    transition: all 0.4s;
    display: inline-block;
}
.nav-item ul li a:hover{
  color: #71CB42;
}
.nav-item ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #71CB42;
}
.toggle-link{
  position: relative;

}
.toggle-link::after {
    content: '';
    position: absolute;
    right: -14px;
    top: 19px;
    width: 11px;
    height: 7px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/arrow-menu.svg);
}
.toggle-link.selected::after{
  transform: rotate(180deg);
}
.items-content-wrap-3 {
    column-count: 3;
    -webkit-column-count: 3;
}
.items-content-wrap-4 {
    column-count: 4;
    -webkit-column-count: 4;
}
.item-content-bl-col {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.item-content-bl{
  border: 1px solid #E6E6E6;
  padding: 20px;
}
.item-content-bl-title{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #212121;
}
.group-ls-item-content-bl-wrap{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.item-content-bl-main-subtitle{
  font-size: 15px;
  line-height: 18px;
  color: #BDBDBD;
}
.list-item-content-bl {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 21px;
}
.group-ls-item-content-bl {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #212121;
    margin-bottom: 15px;
}
.group-ls-item-content-bl:last-child{
  margin-bottom: 0;
}
.right-group-ls-item-content {
    width: 75px;
    text-align: right;
}
.left-group-ls-item-content {
    width: calc(100% - 75px);
    flex-grow: 1;
    padding-right: 5px;
}
.item-content-bl-main {
    margin-top: 10px;
}
.item-content-bl-num {
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    color: #FC7304;
    width: 77px;
    text-align: right;
}
.item-content-bl-title-calc-77 {
    width: calc(100% - 77px);
    flex-grow: 1;
    padding-right: 10px;
}
.item-content-bl-top-wrap-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.item-content-bl-num-green{
  color: #71CB42;
}
.ls_value_sp {
    display: inline-block;
    padding-left: 15px;
    position: relative;
}
.ls_value_sp::before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.ls_value_sp_green::before{
  background-color: #71CB42;
}
.ls_value_sp_orange::before{
  background-color: #FC7304;
}
.ls_value_sp_gray::before{
  background-color: #BDBDBD;
}
.item-content-bl-price {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FC7304;
    margin-top: 10px;
}
.percent-group-ls-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #71CB42;
}
.right-group-ls-item-content-120 {
    width: 120px;
}
.left-group-ls-item-content-calc-120{
  width: calc(100% - 120px);
}
.block-info-content-main-txt{
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
}
.block-info-content-main-num {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #FC7304;
}
.block-info-content-main-num span {
    font-size: 24px;
}
.block-info-content-main-num-green{
  color: #71CB42;
}
.block-info-content-main {
    margin-bottom: 20px;
}
.block-info-content-main:last-child {
    margin-bottom: 0px;
}
.blocks-info-content-main-6{
  width: 50%;
}
.group-ls-number-info {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #212121;
    margin-bottom: 15px;
}
.group-ls-number-info:last-child{
  margin-bottom: 0;
}
.list--number-info {
    list-style: none;
    margin: 0;
    padding: 0;
}
.blocks-info-content-main-wrap{
  display: flex;
  flex-wrap: wrap;
}
.chart_circle {
    max-width: 223px;
    height: 223px;
    margin: -21px;
    display: inline-block;
}
[aria-labelledby="id-66-title"],
[aria-labelledby="id-142-title"],
[aria-labelledby="id-267-title"],
[aria-labelledby="id-61-title"],
[aria-labelledby="id-247-title"],
[aria-labelledby="id-131-title"] {
    display: none;
}
.chart-item-content-bl-main {
    text-align: center;
    margin-top: 24px;
}
.chart_column {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #BDBDBD;
    height: 188px;
    margin: 0 -12px;
}
.chart_column text{
  color: #BDBDBD;

}
.chart_line {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #BDBDBD;
    height: 185px;
    margin: 0 -12px;
}
.chart_line text {
    color: #BDBDBD;

}
.bottom-item-content-bl-main::before{
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: calc(100% + 40px);
  height: 1px;
  background-color: #E6E6E6;
}
.bottom-item-content-bl-main {
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
}
.bottom-item-content-bl-main .list-item-content-bl{
  margin-top: 0;
}
.container-content-width100{
  width: 100%;
  padding-left: 0px;
}

@media only screen and (max-width: 1230px){
  .main-price-block-calc.fixed {
    transform: none;
    right: 40px;
  }
} 
@media only screen and (max-width: 1200px){
  .w-206 {
    width: 149px;
  }
  .radio-tab + span {
    font-size: 15px;
    line-height: 22px;
    padding: 8px;
  }
  .table-flex-style {
    font-size: 13px;
    line-height: 15px;
  }
  .pr-120 {
      padding-right: 0;
  }
  .item-content-bl-col-3{
    width: 33.33%;
  }
  .items-content-wrap-4 {
    column-count: 3;
    -webkit-column-count: 3;
  }
}
@media only screen and (max-width: 1125px){
  .tb-group-list-tabs-content-text-1 {
    max-width: 117px;
  }
  .tb-group-list-tabs-content-text {
    font-size: 14px;
    line-height: 19px;
    max-width: 130px;
  }
  .tb-group-list-tabs-content-number {
    font-size: 16px;
    line-height: 27px;
    margin-left: 5px;
  }
  .item-content-bl-num {
    font-size: 30px;
    line-height: 36px;
  }
  .item-content-bl-col-4 {
    width: 50%;
  }
  .items-content-wrap-3 {
    column-count: 2;
    -webkit-column-count: 2;
  }
  
}
@media only screen and (max-width: 992px){
  .main-price-block-calc.fixed,
  .main-price-block-calc {
    position: relative;
    top: auto;
    right: auto;
    margin: 0 auto;
    padding-top: 25px;
  }
  .item-content-bl-col-4 {
    width: 33.33%;
  }
  .tel-footer-page {
    font-size: 20px;
    line-height: 24px;
  }
  .main-nav .menu {
    padding: 0px 50px 70px 50px;
    border-top: 70px solid #fff;
  }
  .footer {
    z-index: 1029;
  }
  .txt-tel-item-footer-content {
    font-size: 12px;
    line-height: 15px;
    margin-top: 2px;
  }
  .title-item-footer-content {
    font-size: 20px;
    line-height: 24px;
  }
  .list-document-footer a {
    font-size: 12px;
    line-height: 15px;
  }
  .email-tablet-cls {
    display: block;
  }
  .title-calc-form-page {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  .list-content-calc {
    text-align: center;
  }
  .radio-tab-calc-list {
    justify-content: center;
  }
  .w-347 {
    margin: 0 auto;
  }
  .it-calc-pl-min {
    justify-content: center;
  }
  .btn-calc-chek {
    width: 123px;
    font-size: 15px;
    line-height: 22px;
    padding: 8px 5px;
  }
  .price-main-price-block-calc {
    font-size: 38px;
    line-height: 50px;
  }
  .top-txt-main-price-block-calc {
    font-size: 21px;
    line-height: 23px;
    margin-bottom: 8px;
  }
  .info-main-price-block-calc {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 12px;
  }
  .text-it-checkbox-calc {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }
  .list-calc-checkboxs li {
    margin-bottom: 19px;
  }
  .list-calc-checkboxs .it-checkbox-calc {
    max-width: 300px;
    margin: 0 auto;
  }
  .hidden-content-toggle {
    padding-left: 0;
  }
  .bottom-chek-calc {
    width: 100%;
    max-width: 300px;
    margin: 9px auto 0 auto;
  }
  .it-checkbox-calc-min .text-it-checkbox-calc {
    width: calc(100% - 33px);
  }
  .list-social-page a {
    width: 45px;
    height: 45px;
  }
  .vk svg {
    width: 29px;
    height: 29px;
  }
  .facebook svg {
    width: 16px;
    height: 29px;
  }
  .instagram svg {
    width: 29px;
    height: 29px;
  }
  .items-content-wrap-4 {
    column-count: 2;
    -webkit-column-count: 2;
  }
}
@media only screen and (max-width: 900px) {
  .text-row-count-block {
    font-size: 15px;
    line-height: 16px;
    width: 103px;
  }
  .selectmenu-page-count + .ui-selectmenu-button {
    padding-right: 21px;
    font-size: 15px;
    line-height: 20px;
  }
  .table-flex-tablet-style .tr-flex:first-child{
    display: none;
  }
  .table-flex-tablet-style .td-flex{
    width: 50%!important;
  }
  .td-flex, .th-flex {
    padding: 5px 0px;
  }
  .table-page-flex-wrapper {
    border: 0;
  }
  .tr-flex {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .table-flex-tablet-style .td-flex:nth-child(even){
    text-align: right;
  }
  .table-flex-tablet-style .td-flex:nth-child(odd) {
    text-align: left;
  }
  .row-count-block {
    position: static;
    transform: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .pagination-table-block-ls {
      padding: 15px 0px;
      display: flex;
      flex-wrap: wrap-reverse;
  }
  .pagin-ls-page{
    width: 100%;
  }
  .row-count-block-content{
    justify-content: center;
  }
  .pagin-ls-page a {
    font-size: 15px;
    line-height: 20px;
  }
  .hidden-block-name {
    right: auto;
    left: 0;
  }
  .table-bl-style .td-flex, .table-bl-style .th-flex {
    padding: 12px 5px;
  }
  .table-bl-style .tr-flex {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .item-content-bl-col-4 {
    width: 50%;
  }
}
@media only screen and (max-width: 850px){
  .table-bl-style {
    font-size: 12px;
    line-height: 14px;
  }
  .table-flex-style .subtitle-table {
    font-size: 13px;
    line-height: 18px;
    padding: 10px 5px;
  }
  .col-lgg-five{
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-lgg {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  }
  .col-lgg-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  }
  .col-lgg-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
  }
  .col-lgg-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  }
  .col-lgg-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  }
  .col-lgg-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  }
  .col-lgg-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
  }
  .col-lgg-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  }
  .col-lgg-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  }
  .col-lgg-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  }
  .col-lgg-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  }
  .col-lgg-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  }
  .col-lgg-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
  }
  .col-lgg-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  }
  .order-lgg-first {
  -ms-flex-order: -1;
  order: -1;
  }
  .order-lgg-last {
  -ms-flex-order: 13;
  order: 13;
  }
  .order-lgg-0 {
  -ms-flex-order: 0;
  order: 0;
  }
  .order-lgg-1 {
  -ms-flex-order: 1;
  order: 1;
  }
  .order-lgg-2 {
  -ms-flex-order: 2;
  order: 2;
  }
  .order-lgg-3 {
  -ms-flex-order: 3;
  order: 3;
  }
  .order-lgg-4 {
  -ms-flex-order: 4;
  order: 4;
  }
  .order-lgg-5 {
  -ms-flex-order: 5;
  order: 5;
  }
  .order-lgg-6 {
  -ms-flex-order: 6;
  order: 6;
  }
  .order-lgg-7 {
  -ms-flex-order: 7;
  order: 7;
  }
  .order-lgg-8 {
  -ms-flex-order: 8;
  order: 8;
  }
  .order-lgg-9 {
  -ms-flex-order: 9;
  order: 9;
  }
  .order-lgg-10 {
  -ms-flex-order: 10;
  order: 10;
  }
  .order-lgg-11 {
  -ms-flex-order: 11;
  order: 11;
  }
  .order-lgg-12 {
  -ms-flex-order: 12;
  order: 12;
  }
  .offset-lgg-0 {
  margin-left: 0;
  }
  .offset-lgg-1 {
  margin-left: 8.333333%;
  }
  .offset-lgg-2 {
  margin-left: 16.666667%;
  }
  .offset-lgg-3 {
  margin-left: 25%;
  }
  .offset-lgg-4 {
  margin-left: 33.333333%;
  }
  .offset-lgg-5 {
  margin-left: 41.666667%;
  }
  .offset-lgg-6 {
  margin-left: 50%;
  }
  .offset-lgg-7 {
  margin-left: 58.333333%;
  }
  .offset-lgg-8 {
  margin-left: 66.666667%;
  }
  .offset-lgg-9 {
  margin-left: 75%;
  }
  .offset-lgg-10 {
  margin-left: 83.333333%;
  }
  .offset-lgg-11 {
  margin-left: 91.666667%;
  }
  .mrb-lgg-0{
    margin-bottom: 0;
  }
  .mrb-lgg-5{
    margin-bottom: 5px;
  }
  .mrb-lgg-10{
    margin-bottom: 10px;
  }
  .mrb-lgg-15{
    margin-bottom: 15px;
  }
  .mrb-lgg-20{
    margin-bottom: 20px;
  }
  .mrb-lgg-25{
    margin-bottom: 25px;
  }
  .mrb-lgg-30{
    margin-bottom: 30px;
  }
  .mrb-lgg-35{
    margin-bottom: 35px;
  }
  .mrb-lgg-40{
    margin-bottom: 40px;
  }
  .mrb-lgg-45{
    margin-bottom: 45px;
  }
  .mrb-lgg-50{
    margin-bottom: 50px;
  }
  .text-align-lgg-left{
      text-align: left;
  }
  .text-align-lgg-center{
      text-align: center;
  }
  .text-align-lgg-right{
      text-align: right;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .items-footer-content {
    text-align: center;
  }
  .tel-item-footer-content {
    margin-bottom: 21px;
  }
  .d-none-title {
    display: none;
  }
  .list-social-page {
    margin-top: 0;
  }
  .list-social-page {
    justify-content: center;
  }
  .number-amount-earned-block-info {
    font-size: 26px;
    line-height: 30px;
  }
  .tb-group-list-tabs-content-text, .tb-group-list-tabs-content-text-1 {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .tb-group-list-tabs-content-number {
    font-size: 14px;
    line-height: 20px;
    margin-left: 0;
  }
  .item-content-bl-col-3{
    width: 50%;
  }
}
@media only screen and (max-width: 768px){
  .link-calc-back-block {
    text-align: center;
  }
  .container-center {
    padding-left: 10px;
    padding-right: 10px;
  }
  .item-content-bl-title {
    font-size: 15px;
    line-height: 19px;
  }
  .block-info-content-main-num {
    font-size: 30px;
    line-height: 41px;
  }
  .block-info-content-main-num span {
    font-size: 18px;
  }
  .text-calc-tp-info {
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 20px;
  }
  .link-calc-back {
    font-size: 15px;
    line-height: 22px;
  }
  .select-name-form {
    width: 100%;
  }
  .search-filter {
    width: 100%;
  }
  .input-bl {
    border-radius: 0;
  }
  .selectmenu-page-style + .ui-selectmenu-button {
    border-radius: 0;
    color: #212121;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5px;
  }
  .selectmenu-page-style + .ui-selectmenu-button .ui-selectmenu-icon {
    position: static;
    display: block;
  }
  .ui-menu li > div {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }
  .item-number-wrp {
    font-size: 13px;
    line-height: 15px;
    margin-right: 10px;
  }
  .num-item-number-wrp {
    font-size: 15px;
    line-height: 20px;
  }
  .selectmenu-page-filter + .ui-selectmenu-button {
    border-radius: 0;
    color: #212121;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5px;
  }
  .selectmenu-page-filter + .ui-selectmenu-button .ui-selectmenu-icon {
    position: static;
    display: block;
  }
}
@media only screen and (max-width: 650px){
  .group-list-tabs-content {
    width: 100%;
    padding: 5px 15px;
  }
  .arr-block-tab{
    display: none;
  }
  .item-content-bl-col-3{
    width: 100%;
  }
  .items-content-wrap-3 {
    column-count: auto;
    -webkit-column-count: auto;
  }
  .items-content-wrap-4 {
    column-count: auto;
    -webkit-column-count: auto;
  }
}
@media only screen and (max-width: 600px){
  .main-nav .menu {
    width: 88%;
    padding: 0px 15px 70px 15px;
  }
  .item-content-bl-col-4 {
    width: 100%;
  }
}
@media only screen and (max-width: 550px){
  main .main-title {
    font-size: 25px;
    line-height: 30px;
  }
  .table-bl-style {
    font-size: 11px;
    line-height: 13px;
  }
  .items-footer-content {
    text-align: left;
  }
  .list-social-page {
    justify-content: flex-start;
  }
  .text-amount-earned-block-info {
    font-size: 25px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 480px){
  .btn-calc-ls {
    display: block;
    width: 100%;
  }
  .table-bl-style {
    font-size: 10px;
    line-height: 12px;
    word-wrap: break-word;
  }
  .btn-calc-chek {
    width: auto;
    font-size: 13px;
    line-height: 22px;
    padding: 8px 5px;
    flex-grow: 1;
  }
  .radio-tab-calc-list-main li{
    flex-grow: 1;
  }
  .w-206 {
    width: 100%;
  }
  .btn-calc {
    padding: 13px 55px;
  }
}


/*Калькулятор*/