@media only screen and (min-width: 360px) {
  main .orange-dialog .chat .server-dia .name,
  main .orange-dialog .chat .client-dia .name,
  main .green-dialog .chat .server-dia .name,
  main .green-dialog .chat .client-dia .name,
  main .gray-dialog .chat .server-dia .name,
  main .gray-dialog .chat .client-dia .name,
  main .blue-dialog .chat .server-dia .name,
  main .blue-dialog .chat .client-dia .name {
    margin-right: 20px;
  }
}
@media only screen and (min-width: 767.98px) {
  .main-nav .upper-head {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  main .profile #replenishAccount .modal-content {
    min-width: 710px;
  }
  .mrb-md-0{
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 992px) {
  .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 155px;
    height: calc(100vh - 150px);
    margin-top: 122px;
    background: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    padding-left: 15px;
    padding-right: 1rem!important;
    padding-top: 5px;
  }

  .navbar-expand-lg .sidenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media only screen and (min-width: 1325px) {
  main .taxes .col-xll-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media only screen and (max-width: 1450px) {
  main .eighth-block .object-calculator .cost .main-cost {
    margin-top: 3vh;
  }
}
@media only screen and (max-width: 1320px) {
  .table-contrib-main .table-contrib th,
  .table-contrib-main .table-contrib td {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 1270px) {
  .table-item-tabs {
    font-size: 12px;
    line-height: 15px;
  }

  .table-item-tabs td,
  .table-item-tabs th {
    padding: 10px 7px;
  }

  .select-date-block-wrpa {
    width: 80px;
  }
  .table-item-tabs.active {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 1250px) {
  .send-window-block-wrapper {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 1230px){
  .main-price-block-calc.fixed {
    transform: none;
    right: 40px;
  }
} 
@media only screen and (max-width: 1200px) {
  .tabs-accou-main a {
    font-size: 14px;
    line-height: 19px;
  }
  .w-206 {
    width: 149px;
  }
  .radio-tab + span {
    font-size: 15px;
    line-height: 22px;
    padding: 8px;
  }
  .pr-120 {
    padding-right: 0;
  }
  .chart_profit {
    width: 100%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 1170px){
  .col-filter {
    margin-right: 6px;
  }
  .col-291 {
    width: 230px;
  }
  .col-257 {
    width: 208px;
  }
  .col-170 {
    width: 152px;
  }
  .usn .title-item-inc-expen span {
    font-size: 24px;
    line-height: 38px;
    margin-left: 20px;
  }
  .txt-info-item-profile {
    font-size: 15px;
    line-height: 20px;
  }
  .col-btn-filter {
    width: calc(100% - 152px - 208px - 193px - 18px);
  }
  .filter-staff .btn {
    font-size: 15px;
  }
  .block__team {
    padding: 20px 20px 20px 20px;
  }
}
@media only screen and (max-width: 1125px) {
  .calendar-main .datepicker .datepicker--nav-action[data-action="next"] {
    margin-left: 10px;
  }
  .calendar-date-table .btn-calendar {
    right: -3px;
  }
  .calendar-main .datepicker .datepicker--nav-title span {
    width: 130px;
  }

  .calendar-main .datepicker .datepicker--nav-title i {
    width: 130px;
    margin-left: 10px;
  }
  .title-item-page-profile {
    font-size: 20px;
    line-height: 24px;
  }
  .item-dialogues-page-wrapper {
    width: 70%;
  }
  .col-right-dia {
    width: 230px;
  }
  .col-left-dia {
    width: calc(100% - 230px);
  }
  .tb-group-list-tabs-content-text-1 {
    max-width: 117px;
  }
  .tb-group-list-tabs-content-text {
    font-size: 14px;
    line-height: 19px;
    max-width: 130px;
  }
  .tb-group-list-tabs-content-number {
    font-size: 16px;
    line-height: 27px;
    margin-left: 5px;
  }
  .col-194 {
    width: 160px;
  }
}
@media only screen and (max-width: 1060px) {
  .table-contrib-main .table-contrib th,
  .table-contrib-main .table-contrib td {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 992px) {
  .usn .left-usn-content-top-block {
    padding-right: 20px;
  }
  
  .usn .txt-left-usn-content-top-block-wrap {
    font-size: 18px;
    line-height: 22px;
  }
  .usn .title-item-inc-expen span {
    font-size: 30px;
    line-height: 35px;
    margin-left: 5px;
  }

  .quest-link-block .quest-link-text {
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }

  .list-content-block .content-top-ls span {
    font-size: 15px;
    line-height: 20px;
  }

  .table-contrib-main .table-contrib th {
    font-size: 15px;
    line-height: 18px;
  }
  .modal .modal-dialog .modal-content {
    border: none !important;
    border-radius: 0px !important;
  }
  .main-price-block-calc.fixed,
  .main-price-block-calc {
    position: relative;
    top: auto;
    right: auto;
    margin: 0 auto;
    padding-top: 25px;
  }
  
  
  .title-calc-form-page {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  .list-content-calc {
    text-align: center;
  }
  .radio-tab-calc-list {
    justify-content: center;
  }
  .w-347 {
    margin: 0 auto;
  }
  .it-calc-pl-min {
    justify-content: center;
  }
  .btn-calc-chek {
    width: 123px;
    font-size: 15px;
    line-height: 22px;
    padding: 8px 5px;
  }
  .price-main-price-block-calc {
    font-size: 38px;
    line-height: 50px;
  }
  .top-txt-main-price-block-calc {
    font-size: 21px;
    line-height: 23px;
    margin-bottom: 8px;
  }
  .info-main-price-block-calc {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 12px;
  }
  .text-it-checkbox-calc {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }
  .list-calc-checkboxs li {
    margin-bottom: 19px;
  }
  .list-calc-checkboxs .it-checkbox-calc {
    max-width: 300px;
    margin: 0 auto;
  }
  .hidden-content-toggle {
    padding-left: 0;
  }
  .bottom-chek-calc {
    width: 100%;
    max-width: 300px;
    margin: 9px auto 0 auto;
  }
  .it-checkbox-calc-min .text-it-checkbox-calc {
    width: calc(100% - 33px);
  }
  .right-profile-page-block {
    width: 100%;
    padding-left: 0;
  }
  .avatar-profile-page-block {
    padding-top: 0;
    margin-bottom: 30px;
  } 
  .tel-footer-page {
    font-size: 20px;
    line-height: 24px;
  }
  .txt-tel-item-footer-content {
    font-size: 12px;
    line-height: 15px;
    margin-top: 2px;
  }
  .title-item-footer-content {
    font-size: 20px;
    line-height: 24px;
  }
  .list-document-footer a {
    font-size: 12px;
    line-height: 15px;
  }
  .list-social-page a {
    width: 45px;
    height: 45px;
  }
  .vk svg {
    width: 29px;
    height: 29px;
  }
  .facebook svg {
    width: 16px;
    height: 29px;
  }
  .instagram svg {
    width: 29px;
    height: 29px;
  }
  .overlay_page_menu.menu-opened{
    display: block;
  }
  .main-nav .menu {
    padding: 0;
    width: 100%;
    box-shadow: none;
    height: calc(100vh - 60px);
    top: 0;
    transform: translate(0px, 120%);
    padding-top: 70px;
    padding-bottom: 80px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    left: 0;
    transition: transform 0.35s ease;
  }
  .main-nav button.close__button{
    display: block;
  }
  .main-nav .menu-opened {
    left: 0;
  }
  .main-nav .menu.menu-opened {
    transform: translate(0px, 60px);
  }
  .bottom_block_fixed{
  display: block;
  }
  .popup_content_page, .modal .modal-dialog .modal-content.popup_content_page {
    width: 700px;
  }
  .main-nav .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    padding: 0.5rem 0rem;
  }
  .block-main-dialogues-page-info {
    height: 560px;
  }
  .text-info-table {
    font-size: 18px;
    line-height: 22px;
  }
  .login-block-page {
    max-width: 450px;
  }
  .main-nav .navbar-nav .nav-item .nav-link {
    border-bottom: 1px solid #E5E5E5;
    padding: 0.5rem 20px!important;
  }
  .main-nav .menu .nav-item {
    width: 100%;
  }
  .navbar-nav {
    padding-right: 0!important;
    padding-left: 0!important;
  }
  .main-nav .navbar-nav .nav-item.active .nav-link {
    border-bottom: 1px solid #71CB42;
  }
  .main-nav .navbar-nav .nav-item .nav-link:hover {
    border-bottom: 1px solid #71CB42;
  }
  .none__scroll{
    overflow: hidden;
  }
  .col-278 {
    width: 227px;
  }
  .filter-payments-form .col-6-inp-bl-filter {
    padding: 0 5px;
  }
  .filter-payments-form .col-filter {
    padding: 0 5px;
  }
  .filter-payments-form .filter-operation_log-content {
    margin: 0 -5px;
  }
  .filter-payments-form .inp-bl-filter {
    margin: 0 -5px;
  }
  .col-194 {
    padding: 0 5px;
  }
  .td__name_cell {
    width: 175px;
  }
}
@media only screen and (max-width: 991px) {
  .container-content-right {
    padding-left: 0px;
  }
  .navbar-brand {
    margin-left: 0;
  }
  .footer {
    z-index: 1029;
  }
  main .table-header-block.fixed {
    top: 76px;
  } 
  .item__static_pg_title {
    font-size: 15px;
    line-height: 18px;
  }
  .table__row .al-td, .table__row .al-th {
    padding: 15px 8px;
  }
  .table__row .td__check {
    width: 36px;
  }
  .table__row .td__1, 
  .table__row .td__1 {
    width: 95px;
  }
  .table__row .td__3, 
  .table__row .td__3 {
    width: 101px;
  }
  .table__row .td__4, .table__row .td__4 {
    width: 117px;
  }
  .table__row .td__6, .table__row .td__6 {
    width: 124px;
  }
  .it__ls_chat_content_title {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    width: 100%;
  }
  .it__ls_chat_content_date {
    font-size: 10px;
    line-height: 12px;
    width: 100%;
    margin-left: 0;
    margin-top: 5px;
  }
  .it__ls_chat_avatar {
    width: 30px;
    height: 30px;
  }
  .it__ls_chat_content_mn {
    word-wrap: break-word;
  }
  .it__ls_chat {
    margin-bottom: 5px;
  }
  .it__ls_chat_content {
    flex-grow: 1;
    width: calc(100% - 30px);
  }
  .it__ls_chat_content_wrapper {
    width: 100%;
  }
  .it__ls_chat_content_top_wrap {
    flex-wrap: wrap;
  }
  .it__ls_chat_content_wrapper {
    padding: 10px;
  }
  .content__dialog_pg__chat {
    height: calc(100vh - 127px);
  }
  .footer {
    padding-bottom: 87px;
  }
  .td__bill {
    padding: 10px;
  }
  .td__bill_1 {
    width: 42px;
  }
  .td__bill_4 {
    width: 110px;
  }
  .td__bill_5 {
    width: 159px;
  }
}
@media only screen and (max-width: 850px) {
  .table-item-tabs {
    font-size: 10px;
    line-height: 13px;
  }
  .select-form-dowl-docum {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .title-pg-h5 {
    font-size: 17px;
    line-height: 20px;
  }
  a.dowl-btn.btn {
    width: 100%;
  }
  .form-dowl-docum {
    width: 100%;
  }
  .tel-item-footer-content {
    margin-bottom: 21px;
  }
  .info-content-wage {
    width: 100%;
    padding-left: 0;
    margin-top: 15px;
  }
  .title-form-item-document {
    font-size: 14px;
    line-height: 20px;
  }
  .usn .title-item-inc-expen span {
    font-size: 21px;
    line-height: 29px;
    margin-left: 5px;
  }
  .usn .title-item-inc-expen {
    font-size: 18px;
    line-height: 27px;
  }
  .calendar-date-table .btn-calendar {
    right: -8px;
  }
  .list-social-page {
    margin-top: 0;
  }
  .table-item-tabs.active {
    margin-top: 79px;
  }
  .popup_service {
    width: calc(100% - 30px);
  }
  .list-social-page {
    justify-content: center;
  }
  .table-col-4 th:nth-child(1),
  .table-col-4 td:nth-child(1) {
    width: 23%;
    word-break: break-word;
  }
  .operation_log-main-block {
    padding-bottom: 50px;
  }
  .items-footer-content {
    text-align: center;
  }
  .block-bonus-page-right {
    max-width: 100%;
    margin-left: 0;
  }
  .table-col-4 th:nth-child(2),
  .table-col-4 td:nth-child(2) {
    width: 20%;
    word-break: break-word;
  }

  .table-col-4 th:nth-child(3),
  .table-col-4 td:nth-child(3) {
    width: 29%;
  }
  .email-tablet-cls{
    display: block;
  }
  .d-none-title{
    display: none;
  }
  .table-col-4 th:nth-child(4),
  .table-col-4 td:nth-child(4) {
    width: 29%;
  }

  .calendar-date-table {
    max-width: 62px;
  }
  main .taxes .text-title-taxes {
    width: 156px;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    padding-bottom: 10px;
  }

  main .taxes .title-taxes {
    width: 100%;
    margin: 0;
    font-size: 20px;
  }

  main .taxes .cost-green,
  main .taxes .cost-income-green {
    font-size: 30px;
  }

  main .taxes .cost-orange,
  main .taxes .cost-consumption-orange {
    font-size: 30px;
  }
  .block-detailed-calculation {
    text-align: left;
  }
  .col-170 {
    width: 100%;
    order: 1;
  }
  .col-filter {
    margin-right: 0;
  }
  .col-257 {
    width: 100%;
    margin: 0;
    order: 2;
  }
  .col-291 {
    width: 100%;
    order: 3;
  }
  .col-174 {
    width: 100%;
    order: 4;
  }
  .filter-operation_log .btn {
    padding: 12px 8px;
  }
  .col-6-inp-bl-filter-left .input-bl {
    border-right: 0;
    border-radius: 0;
  }
  .col-6-inp-bl-filter-right .input-bl {
    border-radius: 0;
  }
  .selectmenu-page-filter + .ui-selectmenu-button {
    border-radius: 0;
    color: #212121;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5px;
  }
  .text-file-page-2{
    display: none;
  }
  .txt-file-page:hover {
    text-decoration-color: #71CB42;
  }
  .title-mobile-file{
  display: block;
  }
  .txt-file-page-wrap{
    display: none;
  }
  .title-file-page {
    display: none;
  }
  .form-dowl-page {
    margin-top: 28px;
  }
  .form-dowl-page .btn {
    font-size: 15px;
    line-height: 18px;
  }
  .form-dowl-page-right {
    max-width: 100%;
    margin-left: auto;
    margin-top: 21px;
  }
  .file-page {
    text-align: center;
    border: 0;
    max-width: 100%;
    height: auto;
    color: #BDBDBD;
    padding: 0;
    font-size: 12px;
    line-height: 15px;
  }
  .btn-search-tablet{
  display: block;
  }
  .al-table-service .al-td:nth-child(1), 
  .al-table-service .al-th:nth-child(1) {
    width: 100%;
  }
  .al-table-service .al-td:nth-child(2), 
  .al-table-service .al-th:nth-child(2){
  width: 100%;
  }

  .selectmenu-page-filter + .ui-selectmenu-button .ui-selectmenu-icon {
    position: static;
    display: block;
  }
  .mrb-850-30 {
    margin-bottom: 30px;
  }
  .pagin-ls-page li {
    margin: 0 7px;
  }
  .col-lgg-five{
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-lgg {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  }
  .col-lgg-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  }
  .col-lgg-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
  }
  .col-lgg-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  }
  .col-lgg-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  }
  .col-lgg-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  }
  .col-lgg-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
  }
  .col-lgg-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  }
  .col-lgg-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  }
  .col-lgg-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  }
  .col-lgg-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  }
  .col-lgg-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  }
  .col-lgg-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
  }
  .col-lgg-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  }
  .order-lgg-first {
  -ms-flex-order: -1;
  order: -1;
  }
  .order-lgg-last {
  -ms-flex-order: 13;
  order: 13;
  }
  .order-lgg-0 {
  -ms-flex-order: 0;
  order: 0;
  }
  .order-lgg-1 {
  -ms-flex-order: 1;
  order: 1;
  }
  .order-lgg-2 {
  -ms-flex-order: 2;
  order: 2;
  }
  .order-lgg-3 {
  -ms-flex-order: 3;
  order: 3;
  }
  .order-lgg-4 {
  -ms-flex-order: 4;
  order: 4;
  }
  .order-lgg-5 {
  -ms-flex-order: 5;
  order: 5;
  }
  .order-lgg-6 {
  -ms-flex-order: 6;
  order: 6;
  }
  .order-lgg-7 {
  -ms-flex-order: 7;
  order: 7;
  }
  .order-lgg-8 {
  -ms-flex-order: 8;
  order: 8;
  }
  .order-lgg-9 {
  -ms-flex-order: 9;
  order: 9;
  }
  .order-lgg-10 {
  -ms-flex-order: 10;
  order: 10;
  }
  .order-lgg-11 {
  -ms-flex-order: 11;
  order: 11;
  }
  .order-lgg-12 {
  -ms-flex-order: 12;
  order: 12;
  }
  .offset-lgg-0 {
  margin-left: 0;
  }
  .offset-lgg-1 {
  margin-left: 8.333333%;
  }
  .offset-lgg-2 {
  margin-left: 16.666667%;
  }
  .offset-lgg-3 {
  margin-left: 25%;
  }
  .offset-lgg-4 {
  margin-left: 33.333333%;
  }
  .offset-lgg-5 {
  margin-left: 41.666667%;
  }
  .offset-lgg-6 {
  margin-left: 50%;
  }
  .offset-lgg-7 {
  margin-left: 58.333333%;
  }
  .offset-lgg-8 {
  margin-left: 66.666667%;
  }
  .offset-lgg-9 {
  margin-left: 75%;
  }
  .offset-lgg-10 {
  margin-left: 83.333333%;
  }
  .offset-lgg-11 {
  margin-left: 91.666667%;
  }
  .mrb-lgg-0{
    margin-bottom: 0;
  }
  .mrb-lgg-5{
    margin-bottom: 5px;
  }
  .mrb-lgg-10{
    margin-bottom: 10px;
  }
  .mrb-lgg-15{
    margin-bottom: 15px;
  }
  .mrb-lgg-20{
    margin-bottom: 20px;
  }
  .mrb-lgg-25{
    margin-bottom: 25px;
  }
  .mrb-lgg-30{
    margin-bottom: 30px;
  }
  .mrb-lgg-35{
    margin-bottom: 35px;
  }
  .mrb-lgg-40{
    margin-bottom: 40px;
  }
  .mrb-lgg-45{
    margin-bottom: 45px;
  }
  .mrb-lgg-50{
    margin-bottom: 50px;
  }
  .text-align-lgg-left{
      text-align: left;
  }
  .text-align-lgg-center{
      text-align: center;
  }
  .text-align-lgg-right{
      text-align: right;
  }
  .title-group-ls-accor-dialog {
    font-size: 15px;
    line-height: 18px;
    padding: 11px 30px 11px 15px;
  }
  .col-right-dia .input-bl {
    border-radius: 5px;
  }
  .col-left-dia {
    width: 100%;
    padding-right: 0;
  }
  .col-right-dia {
    width: 100%;
  }
  .main-block-content-dialogues,
  .right-block-content-dialogues {
    display: none;
  }
  .main-block-content-dialogues.active,
  .right-block-content-dialogues.active {
    display: block;
  }
  .link-back-block-main-dialogues{
    display: block;
  }
  .mobile-block-right-dia{
    display: block;
  }
  .block-main-dialogues-page-top {
    padding: 20px 16px 8px 16px;
  }
  .top-block-content-dialogues{
    display: none;
  }
  .search-page-dia {
    position: relative;
    margin-top: 15px;
  }
  .list-accor-dialog {
    margin: 22px -15px 0 -15px;
  }
  .title-group-ls-accor-dialog::before {
    right: 15px;
  }
  .link-group-list-dialog-page {
    padding: 8px 15px;
  }
  .link-new-dialog {
    font-size: 15px;
    line-height: 18px;
    padding-right: 16px;
  }
  .link-new-dialog::before {
    width: 11px;
    height: 11px;
  }
  .file-page-block .text-file-page-2,
  .file-page-block .title-file-page,
  .file-page-block .name-file-page-link,
  .file-page-block .txt-file-page-wrap{
    display: block;
  }
  .list-block-main-dialogues-page .mCSB_scrollTools .mCSB_draggerContainer {
    display: none;
  }
  .block-content-dialogues {
    margin-top: 0;
  }
  .text-block-main-dialogues-page {
    font-size: 16px;
    line-height: 19px;
    max-width: 352px;
  }
  .txt-name-lk-page {
    max-width: 161px;
  }
  .block-profile-data-item {
    margin-right: 14px;
  }
  .info-block-profile-data-item {
    font-size: 13px;
    line-height: 16px;
  }
  .table-flex-style {
    font-size: 12px;
    line-height: 14px;
  }
  .number-amount-earned-block-info {
    font-size: 26px;
    line-height: 30px;
  }
  .tb-group-list-tabs-content-text,
  .tb-group-list-tabs-content-text-1 {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .tb-group-list-tabs-content-number {
    font-size: 14px;
    line-height: 20px;
    margin-left: 0;
  }
  .table-flex-style .subtitle-table {
    font-size: 13px;
    line-height: 18px;
    padding: 10px 5px;
  }
  .col-btn-filter {
    width: 100%;
    order: 4;
  }
  .col-193 {
    width: 100%;
  }
  .al-tr-title .td-flex {
    font-size: 12px;
    line-height: 14px;
  }
  .block-dialogues-info-mobile {
    display: block;
    margin-bottom: 20px;
  }
  .text-block-main-dialogues-page-info {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #BDBDBD;
    max-width: 279px;
    margin: 0 auto;
  }
  .tel-btn-tablet {
    display: flex;
  }
  .link-frm-block {
    font-size: 15px;
    line-height: 18px;
  }
  .title-pg-h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .header-page {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.118);
  }
  .contacts-block-header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 100;
    background-color: #fff;
    height: 100vh;
    padding: 40px 40px 40px 15px;
    transform: translate(-100%);
    transition: transform 0.4s;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .contacts-block-header.active{
    transform: translate(0%);
  }
  .header-page .navbar-brand {
    max-width: 103px;
    display: block;
    margin-left: 0;
  }
  .header-page .navbar-brand img{
    max-width: 100%;
    height: auto;
  }
  .header-page-container {
    align-items: center;
  }
  .close-contacts{
    display: block;
  }
  .text-group-list-contacts-block {
    font-size: 12px;
    line-height: 15px;
  }
  .inp-cont-item-form-content-block-page {
    max-width: 100%;
    width: 100%;
  }
  .form-content-block-page-service-wrap {
    padding: 28px 15px;
  }
  .text-top-content-block-page-service {
    width: 100%;
    margin-bottom: 20px;
  }
  .info-top-content-block-page-service {
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  .term-info-top-content-block-page-service {
    width: 148px;
    text-align: left;
  }
  .form-content-block-page-service {
    margin-top: 20px;
  }
  .item-load-docum {
    margin-bottom: 12px;
  }
  .item-load-docum-1 {
    width: 50%;
  }
  .item-load-docum-3, .item-load-docum-4 {
    width: 100%;
    max-width: 100%;
  }
  .filter-load-docum .btn {
    width: 100%;
    padding: 8.5px 10px;
    display: block;
  }
  .item-load-docum-btn{
    width: 100%;
  }
  .item-cash-registr {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .label-content-item-cash-registr-it {
    font-size: 14px;
    line-height: 17px;
    min-height: auto;
  }
  .title-content-item-cash-registr {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 12px;
    margin-bottom: 17px;
  }
  .title-item-cash-registr {
    text-align: center;
  }
  .content-item-cash-registr {
    margin-top: 10px;
  }
  .button-cash-registr {
    color: #61B6D0;
    border: 0;
    padding: 0;
  }
  .button-cash-registr:hover{
    color: #61B6D0;
    text-decoration: underline!important;
    background-color: transparent;
  }
  .content-item-cash-registr-left {
    width: 100%;
    padding-right: 0;
    margin-bottom: 17px;
  }
  .content-item-cash-registr {
    padding: 15px 15px;
    margin-top: 11px;
    border-left: 0;
    border-right: 0;
    margin: 10px -15px 0 -15px;
  }
  .content-item-cash-registr-wrap {
    margin-right: 0;
  }
  .content-item-cash-registr-it {
    width: 100%;
    padding: 0;
    margin-bottom: 17px;
  }
  .content-item-cash-registr-it:last-child{
    margin-bottom: 0;
  }
  .cont-content-item-cash-registr-text {
    margin-top: 6px;
  }
  .cont-content-item-cash-registr-btn {
    margin-top: 6px;
  }
  .cont-content-item-cash-registr-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .title-content-item-cash-registr::before {
    width: 82px;
  }
  .col-add-lk{
    width: 100%;
    margin-bottom: 15px;
  }
  .account-add-lk .input-bl {
    height: 56px;
  }
  .selectmenu-page-content + .ui-selectmenu-button {
    height: 56px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .list-search-block {
    top: 71px;
  }
  .col-add-lk_bl-2, .col-add-lk_bl-3, .col-add-lk_bl-4 {
    width: 50%;
  }
  .col-add-lk:last-child{
    margin-bottom: 0;
  }
  .col-add-lk_bl-5 {
    flex-grow: 1;
    min-width: 100%;
    text-align: center;
  }
  .col-add-lk_bl-6 {
    position: absolute;
    bottom: 15px;
    right: -11px;
    width: auto;
  }
  .btn-add_account {
    font-size: 14px;
    line-height: 17px;
  }
  .item-account-add-lk-btn {
    margin-top: 1px;
    text-align: center;
  }
  .col-add-lk {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  .block-account-add-lk-ls-wrap {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .os-scrollbar-handle{
    opacity: 0;
  }
  .group_ls__tab_date_lnk {
    font-size: 12px;
    line-height: 15px;
  }
  .item__static_pg_wrap {
    flex-wrap: wrap;
  }
  .item__static_pg_col_grow {
    flex-grow: 1;
    padding-right: 0;
    width: 100%;
  }
  .filter-payments-form .btn {
    border-radius: 5px;
    padding: 8px;
  }
  .filter-payments-form .input-bl {
    border-radius: 5px;
  }
  .item-footer-content-button {
    margin: 0 auto 34px auto;
  }
  .btn-form-dowl-docum {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .filter-staff .col-filter {
    margin-bottom: 10px;
  }
  .title__page_cr_select {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .bl__num_step_number {
    width: 40px;
    height: 40px;
    margin: 0;
  }
  .bl__num_step {
    text-align: left;
    width: 100%;
    padding-bottom: 30px;
  }
  .bl__num_step:last-child{
    padding-bottom: 0;
  }
  .bl__num_step_wrap {
    display: flex;
    align-items: center;
  }
  .block__num_steps {
    border: 0;
    padding: 0;
  }
  .block__num_steps_wrap {
    max-width: 100%;
  }
  .bl__num_step_text {
    margin-top: 0;
    flex-grow: 1;
    padding-left: 20px;
  }
  .line_page_stp {
    left: 18px;
    top: 43px;
    height: 20px;
    border-left: 2px dotted #000000;
    width: 2px;
    transform: none;
    border-bottom: 0;
  }
}
@media only screen and (max-width: 800px) {
  .tabs-accou-main-wrapper {
    overflow-x: auto;
  }

  .tabs-accou-main {
    width: 760px;
  }
}
@media only screen and (max-width: 768px) {
  .send-window-block {
    width: 100%;
  }
  .popup_service {
    width: 100%;
    padding: 45px 17px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0px;
  }
  .al-table-row-4 .al-tr .al-td-2 {
    text-align: right;
  }
  .close-popup-black {
    top: 8px;
    right: 20px;
  }
  .block-profile-data {
    margin-top: 0;
  }
  .selectmenu-page-form + .ui-selectmenu-button {
    padding-top: 20px;
    font-size: 14px;
  }
  .close-popup-service {
    top: 46px;
    right: 18px;
  }
  .block-content-dialogues-main {
    margin-top: 20px;
  }
  .col-right-service-popup {
    padding-left: 0;
    width: 100%;
    margin-top: 15px;
  }
  .text-group-list-service-popup {
    width: 100%;
    padding-left: 0;
    margin-top: 5px;
  }
  .title-group-list-service-popup {
    width: 100%;
    text-align: left;
  }
  .col-left-service-popup {
    border-right: 0;
    padding-right: 0;
    width: 100%;
  }
  .price-table,
  .document-block-dowl {
    text-align: right;
  }
  .modal-popup_lk_page {
    max-width: 366px;
    margin: 60px auto 0 auto;
  }
  .close-block {
    top: 10px;
    right: 10px;
  }
  .list-popup_lk_page-content {
    max-width: 366px;
    margin: 0 auto;
  }
  .modal-popup {
    padding-right: 0!important;
  }
  .popup_lk_page, 
  .modal .modal-dialog .modal-content.popup_lk_page {
    width: 100%;
    padding: 45px 17px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0px;
  }
  .popup_employ_hist, 
  .modal .modal-dialog .modal-content.popup_employ_hist {
    width: 100%;
    padding: 45px 17px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0px;
  }



  .popupUpload.active {
    width: 100%;
    padding: 45px 17px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0px;
    margin: 0;
  }
  .popupUpload-2 {
    width: 100%;
    padding: 45px 17px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0px;
    margin: 0;
  }
  .usn .form-select-page-mobile {
    display: block;
  }

  .usn .form-select-page {
    width: 100%;
  }

  .usn .left-usn-content-top-block {
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }

  .usn .txt-left-usn-content-top-block-wrap {
    padding: 0;
    text-align: center;
    display: block;
  }

  .usn .txt-left-usn-content-top-block-wrap span {
    display: block;
  }

  .usn .txt-left-usn-content-top-block-wrap .quest-link-block {
    display: none;
  }

  .usn .items-income-expenses-wrapper {
    margin-top: 20px;
  }

  .usn .link-item-inc-expen {
    text-align: center;
  }

  .usn .item-inc-expen {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .usn .title-item-inc-expen {
    font-size: 20px;
    line-height: 25px;
  }

  .list-content-block {
    padding: 20px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-content-block li {
    border-width: 1px;
  }

  .list-content-block .text-content-bottom-ls {
    width: 100%;
    padding-left: 0;
    margin-top: 15px;
  }

  .list-content-block .content-top-ls .left-content-top-ls {
    width: 100%;
    padding-right: 0;
  }

  .list-content-block .content-top-ls .right-content-top-ls {
    width: 100%;
  }

  .content-block-ls {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1040;
    padding: 25px 15px;
    background-color: #fff;
  }

  .title-content-block-ls {
    display: block;
  }

  .close-content-block-ls {
    display: block;
  }

  .none_scroll .none_scroll {
    overflow: hidden;
  }

  .selectmenu-page-mobile + .ui-selectmenu-button {
    border: none;
    outline: none;
    color: #212121;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    display: block;
    position: relative;
    padding: 15px 15px 15px 45px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    cursor: pointer;
    margin-left: -15px;
    width: calc(100% + 30px);
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .selectmenu-page-mobile + .ui-selectmenu-button .ui-selectmenu-icon {
    position: static;
    width: 30px;
  }

  .ui-menu li > div {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }

  .text-info-top-block {
    width: 100%;
  }

  .list-link-contrib {
    margin-bottom: 50px;
  }

  .list-link-contrib li {
    width: 100%;
    margin-right: 0px;
    text-align: center;
    margin: 15px 0;
  }

  .list-link-contrib li:first-child {
    padding-right: 15px;
  }

  .list-link-contrib .link-confirm-payment-wrap {
    padding-right: 0;
    padding-left: 0px;
  }

  .list-link-contrib .link-confirm-payment-wrap .quest-link-block {
    display: none;
  }

  .list-link-contrib a {
    color: #71CB42;
  }

  .list-link-contrib a.link-receipt-dowl {
    padding-left: 0px;
    padding-left: 30px;
  }

  .list-link-contrib a.link-receipt-dowl::before {
    background-image: url(../img/dowl-link-green.svg);
  }

  .list-link-contrib a.link-confirm-payment {
    padding-left: 0px;
    padding-left: 30px;
  }

  .list-link-contrib a.link-confirm-payment::before {
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-position: center;
    background-repeat: no-repeat;
  }

  .selectmenu-style + .ui-selectmenu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    border-radius: 0;
    height: 50px;
    padding: 0;
    margin: 0 -15px;
    padding-left: 15px;
  }

  .selectmenu-style + .ui-selectmenu-button span {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #212121;
  }

  .selectmenu-style + .ui-selectmenu-button .ui-selectmenu-icon {
    position: relative;
    display: block;
    background-image: url("../img/arr-mobile.svg");
  }

  .text-info-top-block-wrap {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
  }

  .ui-menu[aria-labelledby="year_selectmenu-button"] li > div {
    font-size: 20px;
    padding: 0px;
    text-align: center;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }

  .ui-menu[aria-labelledby="year_selectmenu-button"] li > div:hover,
  .ui-menu[aria-labelledby="year_selectmenu-button"] li > div.ui-state-active {
    background: transparent;
    color: #71CB42;
  }

  .ui-menu[aria-labelledby="year_selectmenu-button"] li > div:hover::before,
  .ui-menu[aria-labelledby="year_selectmenu-button"] li > div.ui-state-active::before {
    content: '';
    position: absolute;
    left: -25px;
    top: 5px;
    width: 17.6px;
    height: 13.4px;
    background-image: url("../img/chek-icon-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .ui-menu[aria-labelledby="year_selectmenu-button"] li.ui-menu-item {
    text-align: center;
    cursor: pointer;
    padding: 10px;
  }

  .select-info-top-block {
    width: 100%;
  }

  .table-contrib-main-wrapper {
    display: none;
  }

  .table-contrib-main-mobile-wrapper {
    display: block;
  }
  main .dialogues .orange-dialog .status-with-icon,
  main .dialogues .green-dialog .status-with-icon,
  main .dialogues .gray-dialog .status-with-icon,
  main .dialogues .blue-dialog .status-with-icon,
  main .tasks .orange-dialog .status-with-icon,
  main .tasks .green-dialog .status-with-icon,
  main .tasks .gray-dialog .status-with-icon,
  main .tasks .blue-dialog .status-with-icon,
  main .taxes .orange-dialog .status-with-icon,
  main .taxes .green-dialog .status-with-icon,
  main .taxes .gray-dialog .status-with-icon,
  main .taxes .blue-dialog .status-with-icon,
  main .employees .orange-dialog .status-with-icon,
  main .employees .green-dialog .status-with-icon,
  main .employees .gray-dialog .status-with-icon,
  main .employees .blue-dialog .status-with-icon {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .container-center {
    padding-left: 10px;
    padding-right: 10px;
  }
  .list-link-contrib a.link-confirm-payment::before {
    width: 17.6px;
    height: 13.4px;
    background-image: url(../img/chek-icon-mobile.svg);
    background-color: transparent;
    right: auto;
    left: 0;
  }
  .title-popup-h3 {
    font-size: 22px;
    line-height: 27px;
  }
  .popup {
    width: 100%;
    padding: 45px 17px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0px;
  }
   .link-calc-back-block {
    text-align: center;
  }
  .text-calc-tp-info {
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 20px;
  }
  .link-calc-back {
    font-size: 15px;
    line-height: 22px;
  }
  .text-popup-thanks-content {
    font-size: 14px;
  }
  .title-popup-h4 {
    font-size: 27px;
    line-height: 32px;
  }
  .title-popup-h4 span::before {
    width: 27px;
    height: 22px;
    background-size: contain;
  }
  .btn {
    font-size: 15px;
    line-height: 18px;
    width: 158px;
  }
  .price-main-patent-content {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn-top-patent-content {
    margin-left: 0;
  }
  
  .al-tr .al-td,
  .al-table-row-5 .al-tr .al-td,
  .al-table-row-5-dowl .al-tr .al-td{
    width: 50%!important;
    display: block;
    border-bottom: 0;
    padding: 0;
    font-size: 13px;
    margin-bottom: 6px;
  }
  .al-table-row-5-dowl .al-td:nth-child(4), .al-table-row-5-dowl .al-th:nth-child(4) {
    width: 14%;
    text-align: right;
  }
  .al-table-row-5.al-table .al-td-1{
    width: calc(100% - 95px);
  }
  .al-table-row-5.al-table .al-td-3 {
    width: 95px;
  }
  .al-table-row-5 .al-tr .al-td-2,
  .al-table-row-5-dowl .al-tr .al-td-2 {
    text-align: left;
    color: #BDBDBD;
  }
  .al-table-row-5-dowl .al-tr .al-td-2{
    width: 100%;
  }
  .al-tr{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #E6E6E6;
    padding: 10px 5px;

  }
  .table-operation_log {
    border: 0;
  }
  .al-tr.al-tr-th{
    display: none;
  }
  .al-tr .al-td-1{
    order: 1;
  }
  .al-tr .al-td-3{
  order: 2;
  text-align: right;
  }
  .al-tr .al-td-4{
  order: 3;
  }
  .al-tr .al-td-5{
    order: 4;
    text-align: right;
  }
  .al-tr .al-td-2{
    order: 5;
    width: 100%;
    text-align: right;
  }
  .avatar-profile-page-block {
    width: 72px;
    padding-top: 0;
  }
  .avatar-profile-block {
    width: 72px;
    height: 72px;
    background-size: cover;
  }
  .name-text-info-profile-block-content {
    margin-right: 13px;
  }
  .popup-pay {
    width: 100%;
    padding: 45px 17px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0px;
    margin: 0;
  }
  .al-table-style .al-tr:nth-child(1){
    display: none;
  }
  .al-table-style .al-td.al-td-mobile-1{
  width: calc(100% - 90px);
  order: 1;
  }
  .al-table-style .al-td.al-td-mobile-2{
    width: 90px;
    text-align: right;
    order: 2;
  }
  .al-table-style .al-td.al-td-mobile-3{
    width: 100%;
    order: 3;
  }
  .popup_bonus .fancybox-close-small {
    top: 49px;
    right: 17px;
  }
  .link-table-block{
    display: inline-block;
  }
  .al-td-block-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .popup_service .fancybox-close-small {
    top: 40px;
    right: 13px;
  }
  .al-table-row-5-dowl .al-td:nth-child(4), .al-table-row-5-dowl .al-th:nth-child(4) {
    width: 14%;
    text-align: right;
  }
  .modal-dialog-block {
    max-width: 100%;
  }
  .order-block-1{
    order: 1;
  }
  .order-block-2{
    order: 2;
  }
  .order-block-3{
    order: 3;
  }
  .col-mdd-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  }
  .form-label {
    top: 22px;
    font-size: 14px;
  }
  .link-notif-profile {
    font-size: 15px;
    line-height: 21px;
  }
  .order-mdd-1{
    order: 1;
  }
  .order-mdd-2{
    order: 2;
  }
  .d-mobile-block{
    display: block;
  }
  .block-profile-data-item {
    margin-right: 0;
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
  .info-block-profile-data-item {
    font-size: 16px;
    line-height: 20px;
  }
  .popup_container_page, 
  .modal .modal-dialog .modal-content.popup_container_page,
  .popup_container_page_2, 
  .modal .modal-dialog .modal-content.popup_container_page_2 {
    width: 100%;
    padding: 45px 17px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0px;
  }
  .title-pop-h3 {
    font-size: 22px;
    line-height: 27px;
  }
  .popup_container_page .close-popup-block {
    top: 45px;
    right: 18px;
  }
  .title-block-content-dialogues-main {
    font-size: 16px;
    line-height: 20px;
  }
  .navbar-brand {
    max-width: 90px;
  }
  .navbar-brand img{
    max-width: 100%;
  }
  .navbar {
    padding: .2rem 0;
  }
  body {
    padding-top: 3.5rem;
  }
  .tel-item-footer-content {
    margin-bottom: 8px;
  }
  .footer .mrb-lgg-40{
    margin-bottom: 10px;
  }
  .list-document-footer li {
    margin-bottom: 2px;
  }
  .list-social-page {
    margin-bottom: 7px;
  }
  .title-item-footer-content {
    font-size: 16px;
    line-height: 20px;
  }
  .list-social-page a path {
    fill: #c3bfbf!important;
  }
  .tel-footer-page {
    font-size: 16px;
    line-height: 21px;
  }
  .usn-text-info {
    font-size: 18px;
    line-height: 22px;
  }
  .al-table-row-4 .al-tr-th{
    display: none;
  }
  .al-table-row-4 .td-flex{
    width: 50%!important;
  }
  .al-table-row-4 .td-flex:nth-child(3){
    text-align: left;
  }
  .al-table-row-4 .td-flex:nth-child(2),
  .al-table-row-4 .td-flex:nth-child(4){
    text-align: right;
  }
  .al-table-row-4 .td-flex, 
  .al-table-row-4 .th-flex {
    padding: 8px 2px;
  }
  .btn-form {
    width: 299px;
    padding: 15px 10px;
  }
  .inp-page {
    font-size: 14px;
  }
  .group-menu-list-select {
    font-size: 15px;
    line-height: 19px;
  }
  .popup_content_page, 
  .modal .modal-dialog .modal-content.popup_content_page,
  .modal .modal-dialog .modal-content.popup_content_page_918 {
      width: 100%;
      padding: 45px 17px;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      border-radius: 0px;
  }
  .popup_content_page .close-popup-block,
  .popup_content_page_918 .close-popup-block {
    top: 10px;
    right: 15px;
  }
  .link-page-reports {
    font-size: 15px;
    line-height: 18px;
  }
  .al-tr-title{
    display: none;
  }
  .al-table-reports .table-flex-style {
    border: 0;
  }
  .tr-flex-parent-title {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
    cursor: pointer;
    position: relative;
  }
  .tr-flex:nth-child(2) .tr-flex-parent-title{
    border-top: 1px solid #E6E6E6;
  }
  .tr-flex-parent-title::before {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0,-50%);
    width: 12px;
    height: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/arrow-ic.svg);
  }
  .tr-flex-parent-title.active::before{
    transform: translate(0,-50%) rotate(180deg);
  }
  .tr-flex-parent-content .td-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #E6E6E6;
    padding-left: 0;
    padding-right: 0;
  }
  .tr-flex-parent-content .td-flex:last-child{
    border-bottom: 0;
  }
  .title-td-flex{
    display: block;
  }
  .tr-flex-parent-content {
    width: 100%;
    padding: 0 15px 10px 15px;
    display: none;
  }
  .al-table-reports .tr-flex,
  .al-table-reports .tr-flex:last-child {
    border-bottom: 1px solid #E6E6E6;
  }
  .al-table-wrapper.al-table-reports {
    margin: 0 -15px;
    width: calc(100% + 30px);
  }
  .tr-flex-parent-title .td-flex {
    padding-left: 15px;
    padding-right: 15px;
  }
  .title-text-top-content-block-page-service {
    font-size: 20px;
    line-height: 24px;
  }
  .item__static_pg_head_wrap {
    flex-wrap: wrap;
  }
  .item__static_pg_head_select {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .selectmenu__pg_st + .ui-selectmenu-button {
    font-size: 12px;
  }
  .chart_column,
  .chart_column_costs,
  .chart_profit {
    width: 673px;
  }
  .item__static_pg_body_wrap {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .item__static_pg_body_wrap_circle{
    overflow: visible;
  }
  .item__static_pg_col_216 {
    margin-top: 80px;
  }
  .table_row .al-tr:nth-child(2) {
    border-top: 1px solid #E6E6E6;
  }
  .table_row .al-tr {
    flex-wrap: wrap;
    position: relative;
  }
  .part_block {
    display: flex;
    justify-content: center;
  }
  .al_td, .al_th {
    padding: 5px 0px;
  }
  .al_td {
    width: 100%!important;
    padding-right: 75px;
  }
  .al_td__6, .al_td__7 {
    position: absolute;
    right: 6px;
    top: 6px;
    width: auto!important;
    padding: 5px 0px;
  }
  .al_td__6 {
    right: 40px;
  }
  .al_td__2 {
    font-weight: 600;
  }
  .price-tab {
    text-align: right;
  }
  .table__row .td__6 .price-tab {
    text-align: right;
  }
  .table__row .td__check{
    order: 7;
    text-align: left;
  }
  .table__row .td__1{
    order: 1;
    text-align: left;
  }
  .table__row .td__2{
    order: 2;
    text-align: right;
  }
  .table__row .td__3{
    order: 3;
    text-align: left;
  }
  .table__row .td__4{
    order: 4;
    text-align: right;
  }
  .table__row .td__5{
    order: 5;
    text-align: left;
  }
  .table__row .td__6{
    order: 6;
    text-align: right;
  }
  .table__row .td__7{
    order: 8;
    text-align: right;
  }
  .main-block-wrapper-payments {
    margin-bottom: 22px;
  }
  .filter-payments-form .col-filter {
    width: 100%;
    margin-bottom: 16px;
  }
  .filter-payments-form .filter-operation_log-content {
    flex-wrap: wrap;
  }
  .col-194 {
    width: 100%;
  }
  .filter-payments-form .btn {
    padding: 18px;
    width: 100%;
  }
  .filter-payments-form .input-bl {
    height: 56px;
  }
  .selectmenu__page_filt + .ui-selectmenu-button {
    height: 56px;
    line-height: 56px;
    padding-top: 0;
  }
  .filter-payments-form .btn-search {
    background-size: 16px;
  }
  .al-tr__total_left_wrap {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .al-tr__total_left_form {
    padding-left: 0;
    width: 100%;
    order: 3;
    margin-top: 12px;
  }
  .al-tr__total {
    padding: 0;
    padding-bottom: 10px;
  }
  .al-tr__total_left_form_wrp {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .al-tr__total_left_form_select {
    flex-grow: 1;
    padding-right: 0;
    width: 100%;
    margin-bottom: 15px;
  }
  .btn .mob{
  display: block;
  }
  .btn .desk{
  display: none;
  }
  .al-tr__total_left_form_btn {
    flex-shrink: 0;
    width: 100%;
  }
  .al-tr__total_left_form_btn .btn {
    width: 100%;
    padding: 18px 10px;
  }
  .al-tr__total_left_checkbox {
    flex-shrink: 1;
    flex-grow: 1;
    padding-right: 10px;
  }
  .total__value_info_cont {
    font-size: 20px;
    line-height: 24px;
  }
  .al-tr__total_left_txt {
    padding-left: 14px;
  }
  .al_td_it {
    padding: 5px 0px;
  }
  .al_td_it {
    width: 50%!important;
    margin: 0;
  }
  .num_rev {
    font-size: 12px;
    line-height: 15px;
    color: #BDBDBD;
  }
  .pr_rev {
    font-weight: 600;
  }
  .item_1{
    order: 2;
  }
  .item_2{
    order: 3;
  }
  .item_3{
    order: 5;
  }
  .item_4{
    order: 1;
  }
  .item_5{
    order: 4;
  }
  .item_6{
    order: 6;
  }
  .tright_item{
    text-align: right;
  }
  .link__det{
    display: none;
  }
  a.dowl-btn.btn {
    padding: 18px 8px;
  }
  .filter-operation_log .btn {
    padding: 18px 8px;
  }
  .filter-staff .input-bl {
    height: 56px;
  }
}
@media only screen and (max-width: 767.98px) {
  main .new-bill button,
  main .new-dote button,
  main .btns-lk-add button {
    width: 35px;
    height: 35px;
    border: 0.3px solid #E9E9E9;
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  main .btns-lk-add button.btns-lk-add-dowl {
    width: 100%;
    border-radius: 0;
    border: 0;
    height: 41px;
  }
  main .documents .content-sales-purchases .new-bill button {
    width: 35px;
    border: 0.3px solid #E9E9E9;
    border-radius: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .main-modal {
    padding: 15px 0 30px 0;
  }
  .mobile-lk-info {
    margin-top: 20px;
    display: block;
  }
  .txt-name-lk-page {
    text-align: center;
    max-width: 175px;
  }
  .title-pg-h3 {
    font-size: 22px;
    line-height: 27px;
  }
  .text-error-block {
    font-size: 14px;
    line-height: 21px;
  }
  .icon-error-block img{
    width: 28px;
  }
  .calendar-main-block-content .info-calendar-wrapper-block {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 40px 15px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
    opacity: 0;
    -webkit-transition: opacity 0.7s, -webkit-transform 0.4s;
    transition: opacity 0.7s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.7s;
    transition: transform 0.4s, opacity 0.7s, -webkit-transform 0.4s;
  }

  .calendar-main-block-content .info-calendar-wrapper-block.active {
    -webkit-transform: translate(0, 0%);
    transform: translate(0, 0%);
    opacity: 1;
  }

  .calendar-main-block-content .info-calendar-wrapper-block .list-info-calendar-wrapper-block {
    font-size: 15px;
  }

  .calendar-main-block-content .info-calendar-wrapper-block .list-info-calendar-wrapper-block span:first-child {
    position: relative;
    padding-right: 10px;
    width: 110px;
  }

  .calendar-main-block-content .info-calendar-wrapper-block .list-info-calendar-wrapper-block span:first-child::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    height: 39px;
    background: #E6E6E6;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  .calendar-main-block-content .info-calendar-wrapper-block .list-info-calendar-wrapper-block span:last-child {
    width: calc(100% - 110px);
    padding-left: 10px;
  }

  .calendar-main-block-content .info-calendar-wrapper-block .close-info-calendar {
    display: block;
  }

  .calendar-main .datepicker {
    max-width: 500px;
    margin: 0 auto;
  }

  .calendar-main .datepicker .datepicker--days-names {
    margin: 9px 0 6px;
  }

  .calendar-main .datepicker .datepicker--content {
    margin-top: 15px;
  }

  .datepicker--body {
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.172);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.172);
    border-radius: 5px;
    padding: 6px;
  }
  .arr-txt-name-lk-page {
    margin-left: 4px;
  }
  .name-lk-page {
    margin-left: 0;
    display: block;
    text-align: center;
  }
  .avatar-name-lk-page {
    width: 48px;
    height: 48px;
    font-size: 25px;
    line-height: 30px;
    margin: 0 auto;
  }
  .name-lk-page-block {
    margin-top: 11px;
    font-size: 14px;
    line-height: 17px;
  }
  .exit-lk-page {
    margin-left: 0;
    text-align: center;
    margin-top: 20px;
  }
  .price-lk-page {
      margin-right: 0;
      font-size: 14px;
      line-height: 17px;
      display: inline-block;
  }
  .price-lk-page-wrapper {
    text-align: center;
    margin-top: 20px;
  }
  .exit-lk-link::before {
    right: auto;
    left: 0;
  }
  .exit-lk-link {
    padding-right: 0;
    padding-left: 35px;
    font-size: 14px;
    line-height: 17px;
  }
  .bell-lk-block-wrap {
    text-align: center;
    padding-left: 57px;
  }
  .tx-bell-lk-block {
    top: -15px;
  }
  .table-item-tabs.active {
    margin-top: 73px;
  }
  main .table-header-block.fixed {
    top: 57px;
  }
  .btn-val-quant {
    width: 30px;
  }
  .input-page-quant {
    width: calc(100% - 30px);
  }
  .minus-block, .plus-block {
    height: 27px;
  }
  .minus-block svg, .plus-block svg{
    width: 17px;
    height: 11px;
  }
  .input-page-quant {
    font-size: 13px;
  }
  .popup_content_page, .modal .modal-dialog .modal-content.popup_content_page {
    min-width: auto;
    width: 100%;
    padding: 45px 17px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0px;
  }
  .file-page-block .list-popupUpload {
    text-align: center;
  }
  .close-popup-upload {
    top: 45px;
    right: 17px;
  }
  .info__balance_dip_mobile{
    display: block;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .bl_mn_pg_top_wrp {
    flex-wrap: wrap;
  }
  .bl_mn_pg_info {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    margin-top: 26px;
  }
  .bl_mn_pg_select {
    width: 100%;
    margin-top: 30px;
  }
  .title_item_ls_pg_tax {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }
  .tb_cont_tax {
    border: 0;
    border-radius: 0;
    border-top: 1px solid #E6E6E6;
  }
  .tr_cnt_row_head {
    display: none;
  }
  .tr_cnt_row:last-child{
    border-bottom: 1px solid #E6E6E6;
  }
  .td_cnt_block {
    padding: 0;
    width: auto;
    flex-grow: 1;
  }
  .td_cnt_block_bott:last-child{
    margin-bottom: 0;
  }
  .flex_tb {
    flex-wrap: wrap;
  }
  .tr_cnt_row {
    padding: 15px 0;
  }
  .item_ls_pg_tax {
    margin-bottom: 30px;
  }
  .td_cnt_block_1, .td_cnt_block_4 {
    flex-grow: 1;
    width: 70%;
  }
  .td_cnt_block_3{
    order: 4;
  }
  .td_cnt_block_4{
    order: 3;
  }
  .td_cnt_block_2, .td_cnt_block_3 {
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 83px;
  }
  .td_cnt_block_bott {
    width: 100%;
    margin-bottom: 15px;
    flex-grow: 0;
  }
  .td_cnt_block_1{
    margin-bottom: 10px;
  }
  .td_cnt_block_2{
    margin-bottom: 10px;
  }
  .title_mob{
    display: block;
  }
  .content_item_ls_pg_tax {
    margin-top: 15px;
  }
  .flex_row_15 {
    margin-left: -7px;
    margin-right: -7px;
  }
  .td_bl_2 {
    width: 138px;
    flex-grow: 0;
    order: 2;
    margin-bottom: 15px;
    text-align: right;
  }
  .td_bl_1 {
    width: calc(100% - 138px);
    order: 1;
    margin-bottom: 15px;
  }
  .td_bl_6 {
    width: 84px;
    flex-grow: 0;
    order: 3;
  }
  .td_bl_3{
    order: 4;
    width: calc(33.333% - 28px);
  }
  .td_bl_4{
    order: 5;
    width: calc(33.333% - 28px);
  }
  .td_bl_5{
    order: 6;
    width: calc(33.333% - 28px);
  }
  .tb_cont_tax_style .td_cnt_block {
    padding-left: 7px;
    padding-right: 7px;
  }
  .tr_cnt_row_total .td_bl_1 {
    width: 84px;
    flex-grow: 0;
    margin-bottom: 0;
  }
  .tr_cnt_row_total .td_bl_2,
  .tr_cnt_row_total .td_bl_6{
    display: none;
  }
  .td_cnt_block_wrap {
    max-width: 54px;
  }
  .tr_cnt_row_total {
    padding: 30px 0;
  }
  .cl_4 {
    width: 100%;
    border-bottom: 1px solid #E6E6E6;
    display: flex;
    align-items: center;
  }
  .cl_4 span {
    border-bottom: 0;
    width: 50%;
    padding: 16px 15px;
  }
  .cl_4 span:last-child {
    text-align: left;
  }
  .tb_cont_tax_top .tr_cnt_row {
    padding: 0;
  }
  .tb_cont_tax.tb_cont_tax_top {
    border: 1px solid #E6E6E6;
  }
  .cl_4:last-child{
    border-bottom: 0;
  }
  .tb_cont_tax_top .tr_cnt_row:last-child{
    border-bottom: 0;
  }
  .btn_right_tb {
    margin-top: 15px;
  }
  .btn__tb_st {
    width: 100%;
  }
  .td_col_1 {
    flex-grow: 1;
    order: 1;
    padding-right: 15px;
    margin-bottom: 10px;
    width: 65%;
  }
  .td_col_4{
    flex-shrink: 0;
    order: 2;
    flex-grow: 0;
    margin-bottom: 10px;
  }
  .td_col_3 {
    order: 3;
    flex-grow: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .td_col_2{
    order: 4;
    flex-grow: 1;
    width: 65%;
  }
  .td_col_5{
    order: 5;
    flex-grow: 0;
  }
  .title_it__prof_pg {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }
  .requisit__items_wrap {
    flex-wrap: wrap;
  }
  .edit_mob_butt{
    display: flex;
  }
  .butt__tb_st {
    display: none;
  }
  .it__prof_pg_top_btn {
    width: auto;
  }
  .grp_ls__req_it_tit {
    font-size: 14px;
    line-height: 17px;
    width: 100%;
  }
  .grp_ls__req_it_wrap {
    flex-wrap: wrap;
  }
  .grp_ls__req_it {
    margin-bottom: 10px;
  }
  .grp_ls__req_it_cont {
    padding-left: 0;
    margin-top: 5px;
  }
  .req__it_avatar_desktop{
    display: none!important;
  }
  .file_avatar_mob {
    display: block;
    margin-bottom: 30px;
  }
  .req__it_avatar {
    flex-shrink: 0;
    width: 100%;
    border: 0;
    height: auto;
    display: block;
  }
  .req__it_avatar_img {
    width: 60px;
    height: 60px;
    margin: 0;
  }
  .req__it_avatar_link {
    margin-top: 0;
    margin-left: 15px;
  }
  .req__it_avatar_wrap {
    display: flex;
    align-items: center;
  }
  .it__prof_pg_mn {
    margin-top: 15px;
  }
  .item__bill_check {
    order: 1;
    margin-right: 0px;
    width: 41px;
    margin-bottom: 20px;
  }
  .item__bill_num {
    order: 2;
    margin-right: 0px;
    width: calc(100% - 41px);
    margin-bottom: 20px;
  }
  .item__bill_icon {
    order: 3;
    margin: 0;
    width: 38px;
  }
  .item__bill_name {
    order: 4;
    padding-right: 0;
    width: calc(100% - 38px);
  }
  .item__bill_wrap {
    flex-wrap: wrap;
  }
  .blocks__teams {
    border: 0;
    border-radius: 0;
    border-top: 1px solid #E6E6E6;
  }
  .block__team_wrap {
    flex-wrap: wrap;
  }
  .block__team_info {
    order: 1;
    padding-right: 20px;
    width: calc(100% - 60px);
  }
  .block__team_avatar{
    order: 2;
  }
  .block__team_tels{
    order: 3;
    margin-right: 0;
    width: auto;
    flex-grow: 1;
    padding-right: 15px;
    margin-top: 20px;
  }
  .block__team_link {
    padding-right: 0;
    order: 4;
    margin-top: 20px;
    width: auto;
    flex-shrink: 0;
  }
  .block__team {
    padding: 20px 0px 20px 0px;
  }
  .block__team:last-child {
    border-bottom: 1px solid #E6E6E6;
  }
  .title_mob_cust{
    display: block;
  }
  .tr__cust_head{
    display: none;
  }
  .table__customiz {
    border: 0;
    border-radius: 0;
    border-top: 1px solid #E6E6E6;
  }
  .td__cust {
    padding: 0;
  }
  .tr__cust_wrap {
    flex-wrap: wrap;
  }
  .td__name_cust {
    width: 100%;
    margin-bottom: 10px;
  }
  .tr__cust {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .td__name_mail {
    width: auto;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .td__name_mess {
    width: auto;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .td__name_cell {
    width: auto;
    flex-grow: 1;
  }
  .tr__cust:last-child {
    border-bottom: 1px solid #E6E6E6;
  }

  .td_b_1 {
    flex-grow: 1;
    order: 1;
    padding-right: 15px;
    margin-bottom: 10px;
    width: 65%;
  }
  .td_b_2 {
    order: 4;
    flex-grow: 1;
    width: 65%;
  }
  .td_b_3 {
    order: 3;
    flex-grow: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .td_b_4 {
    order: 3;
    flex-grow: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .td_b_5 {
    flex-shrink: 0;
    order: 2;
    flex-grow: 0;
    margin-bottom: 10px;
  }
  .td_b_6 {
    order: 5;
    flex-grow: 0;
  }
  .group_ls__menu_dialog {
    width: 100%;
    border-bottom: 1px solid #E6E6E6;
  }
  .group_ls__menu_dialog:last-child{
    border-bottom: 0;
  }
  .ls__menu_dialog {
    border-radius: 0;
  }
  .link_group_ls__menu_dialog {
    padding: 15px 20px;
    width: 100%;
    text-align: left;
  }
  .link_group_ls__menu_dialog_wrp {
    justify-content: space-between;
  }
  .cl_dia {
    width: 100%;
  }
  .btn__ls_dialog {
    margin-bottom: 30px;
  }
  .button__st_dialog {
    height: 56px;
    font-size: 16px;
    line-height: 24px;
  }
  .search__ls_dialog {
    margin-bottom: 15px;
  }
  .input-search_dialog {
    height: 56px;
  }
  .select__pg_item + .ui-selectmenu-button {
    width: 100%;
    height: 56px;
    padding-top: 15px;
  }
  .massedge__table_pg {
    border: 0;
    border-radius: 0;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
  }
  .tr_massedge_pg {
    padding: 15px 0px;
  }
  .title_td_mass_pg {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  .tr_massedge_pg_wrap {
    flex-wrap: wrap;
  }
  .td_massedge_pg_info {
    padding-right: 0;
    width: 100%;
  }
  .grp_mass_switch_tit {
    margin-bottom: 5px;
  }
  .td_massedge_pg_switch {
    position: absolute;
    bottom: 15px;
    right: 0;
  }
  .bott_td_mass_pg_wrap span {
    margin-right: 0;
    width: 100%;
  }
  .bott_td_mass_pg {
    padding-right: 150px;
  }
  .block_chat_dialog_top_wrap {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .block_chat_dialog_cont {
    width: 100%;
    padding-right: 0;
    margin-bottom: 5px;
  }
  .block_chat_dialog {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .ls__str_st .star {
    width: 18px;
    height: 18px;
  }
  .ls__str_st li {
    margin-right: 5px;
  }
  .block_chat_dialog_stars {
    margin-right: 0;
  }
  .block_chat_dialog_cont_title {
    font-size: 20px;
    line-height: 24px;
  }
  .block_chat_dialog_top {
    padding: 15px 0px;
  }
  .ls__chat_dialog_block {
    padding: 5px;
  }
  .block_chat_dialog_bottom {
    padding: 15px 0px;
  }
  .inp__chat_dialog {
    font-size: 14px;
    line-height: 20px;
    max-height: 100px;
  }
  .bottom_chat_dialog_block_wrap {
    flex-wrap: wrap;
  }
  .button__chat_block {
    padding-right: 0;
    width: 100%;
    margin-bottom: 15px;
  }
  .button_chat_style {
    font-size: 16px;
    width: 100%;
    height: 56px;
  }
  .button__chat_lnk {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col__tb_1{
    order: 3;
  }
  .col__tb_2{
    order: 4;
    text-align: right;
  }
  .col__tb_3{
    order: 1;
  }
  .col__tb_4{
    order: 2;
    text-align: right;
  }
  .term_date_wrap {
    margin-left: auto;
  }
  .col__tb_5{
    order: 5;
  }
  .tb__doum_page .col__tb_5{
    width: 100%!important;
  }
  .popup_lk_page-cont {
    margin-top: 20px;
  }
  .content__dialog_pg__chat {
    height: calc(100vh - 118px);
  }
  .foot__col{
    width: 100%;
  }
  .foot__col_left {
    order: 3;
    margin-top: 22px;
  }
  .foot__col_right{
    margin-top: 22px;
  }
  .button__ls_dialog {
    margin-bottom: 0;
    margin-top: 15px;
  }
  .butt__pg {
    width: 100%;
  }
  .pr__op {
    font-weight: 600;
  }
  .it_2,
  .it_4{
    text-align: right;
  }
  .bl__lnks__acc {
    margin-right: 20px;
  }
  .blocks__links_acc_wrp {
    justify-content: flex-end;
  }
  .it_5{
    width: 100%!important;
  }
  .block__info__stp_top_text {
    font-size: 15px;
    line-height: 18px;
  }
  .block__info__stp_bottom_txt_lnk {
    font-size: 15px;
    line-height: 18px;
    padding-right: 20px;
  }
  .block__info__stp_bottom_dip {
    width: 340px;
  }
  .tr__bill_head{
    display: none;
  }
  .tr__bill_wrap {
    flex-wrap: wrap;
  }
  .td__bill_1{
    order: 1;
  }
  .td__bill_2 {
    order: 2;
    width: calc(100% - 42px);
  }
  .td__bill_4 {
    width: 42px;
    order: 3;
  }
  .td__bill_3 {
    flex-grow: 0;
    order: 4;
    width: calc(100% - 42px);
  }
  .td__bill_5{
    width: calc(100% - 42px);
    margin-left: auto;
    order: 5;
  }
  .btn_td__bill_table_text {
    display: block;
    flex-shrink: 0;
    margin-right: 10px;
  }
  .btn_td__bill_table_wrap {
    display: flex;
    align-items: center;
  }
  .td__bill {
    padding: 10px 10px;
  }
  .tr__bill {
    padding: 5px;
  }
  .table__bills {
    border-radius: 0;
  }
}
@media only screen and (max-width: 700px) {
  .wrp-parent-block .block-col-6 {
    width: 100%;
    margin: 3px 0;
  }

  .table-item-tabs td,
  .table-item-tabs th {
    padding: 5px 2px;
  }

  .table-item-tabs .table-col-4 tbody tr:first-child {
    display: none;
  }

  .val-quant-block {
    max-width: 100%;
    margin: 7px auto 0 auto;
  }

  .select-date-block-wrpa {
    margin: 0px auto 0 auto;
  }
}
@media only screen and (max-width: 650px) {
  main .taxes .item-card-js .title-taxes {
    font-size: 14px;
    display: block;
    margin-left: 0 !important;
  }
  .clip-form-block svg{
    width: 9px;
    height: 17px;
  }
  .button-message {
    width: 43px;
    height: 43px;
  }
  .input-message {
    height: 43px;
    font-size: 14px;
    line-height: 17px;
    padding-top: 13px;
    padding-right: 68px;
  }
  .clip-form-block {
    right: 52px;
  }
  .text-switch-right-block-form-wrap {
    font-size: 14px;
    line-height: 17px;
  }
  .form-message-block {
    width: 100%;
  }
  .right-block-form {
    margin: 0 auto;
  }
  .name-block-main-dialogues-page {
    font-size: 16px;
    line-height: 20px;
  }
  .text-message-item-dialogues-page {
    font-size: 14px;
    line-height: 17px;
  }
  .item-dialogues-page-wrapper {
    width: 100%;
  }
  .item-dialogues-page-wrap-right .item-dialogues-page-wrapper {
    width: 85%;
  }
  .avatar-item-dialogues-page {
    width: 32px;
    height: 32px;
  }
  .interlocutor-message-item-dialogues-page {
    width: calc(100% - 40px);
  }
  .file-page-block .title-file-page {
    font-size: 17px;
    line-height: 21px;
  }
  .file-page-block .text-file-page {
    font-size: 13px;
  }
  .file-page-block .txt-file-page {
    font-size: 13px;
    line-height: 19px;
  }
  .file-page-block-btn {
    width: 100%;
    text-align: center;
    display: block;
  }
  .btn-file{
    margin: 0 auto;
  }
  .link-file-block {
    font-size: 13px;
    line-height: 19px;
  }
  .file-page-block-link {
    margin-left: 0;
    width: 100%;
    margin-top: 7px;
  }
  .file-page-block .list-popupUpload {
    font-size: 13px;
    line-height: 16px;
  }
  .text-link-receipts-wrap {
    font-size: 13px;
    line-height: 16px;
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
  .group-list-tabs-content {
    width: 100%;
    padding: 5px 15px;
  }
  .item-button-form {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .item-button-form .btn {
    width: 100%;
  }
  .table-pup-page {
    font-size: 12px;
    line-height: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .modal .modal-dialog .modal-content .upper-modal .modal-title {
    font-size: 18px;
  }
  .icon-block-bonus-page {
    display: none;
  }
  .quest-block-bonus-page{
    display: none;
  }
  .text-block-bonus-page {
    font-size: 12px;
    line-height: 16px;
  }
  .text-block-bonus-page span {
    font-size: 25px;
  }
  .link-block-bonus-page {
    border-bottom: 1px dashed #212121;
    transition: all 0.4s;
  }
  .link-block-bonus-page:hover{
    border-color: transparent;
  }
  .modal__cont_info {
    width: calc(100% - 30px);
    padding: 35px 15px 35px 15px;
  }
  .text_modal__cont_info {
    margin-top: 20px;
  }
  .title_modal__cont_info {
    font-size: 20px;
    line-height: 26px;
  }
  .close_modal_chat {
    top: 15px;
    right: 15px;
  }
}
@media only screen and (max-width: 576px){
  .mrb-sm-15 {
    margin-bottom: 30px;
  }
  .form-profile-page-block {
    margin-top: 0;
  }
  .text-align-sm-right {
    text-align: right;
  }
  .btn-profile-block {
    text-align: center;
  }
  .title-item-page-profile-js{
    cursor: pointer;

  }
  .title-item-page-profile-js span {
    display: inline-block;
    padding-right: 28px;
    position: relative;
  }
  .title-item-page-profile-js span::before {
    content: '';
    position: absolute;
    right: 0;
    background-image: url(../img/arrow-accordion.svg);
    top: 4px;
    width: 17px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .title-item-page-profile-js.active span::before{
    transform: rotate(180deg);
  }
}
@media only screen and (max-width: 575.98px) {
  main .documents .content-sales-purchases .orange-bill-modal .pub-clients,
  main .documents .content-sales-purchases .bill-in-detail-modal .pub-clients {
    margin-top: 15vh;
  }

  .modal {
    padding: 0px !important;
  }

  .modal .modal-dialog .modal-content {
    min-height: 100vh;
  }
}
@media only screen and (max-width: 568px){
}
@media only screen and (max-width: 568px) {
  main .toggles-IE span {
    margin-left: 30px;
  }

  main .checkbox-label {
    height: 34px;
    width: 63px;
  }

  main .checkbox-label:before {
    height: 34px;
    width: 34px;
  }

  main .ios-toggle:checked + .checkbox-label:before {
    left: calc(100% - 34px);
  }

  main .separate-accounting .checkbox-label {
    width: 63px;
  }

  main .separate-accounting .checkbox-label:before {
    height: 34px;
    width: 34px;
  }

  main .separate-accounting .ios-toggle:checked + .checkbox-label:before {
    left: calc(100% - 34px) !important;
  }
}
@media only screen and (max-width: 563px) {
  .table-item-tabs.active {
    margin-top: 85px;
  }
}
@media only screen and (max-width: 550px) {
  .table-item-tabs th.left-txt {
    text-align: center;
  }
  .main-nav .menu .nav-item {
    width: 100%;
  }
  .text-info-table {
    font-size: 15px;
    line-height: 20px;
  }
  .table-pup-page td, .table-pup-page th {
    padding: 5px;
  }
  .text-amount-earned-block-info {
    font-size: 25px;
    line-height: 30px;
  }
  .pr-content-popup {
    font-size: 18px;
    line-height: 24px;
  }
  .btn-block-content-dialogues-main .btn {
    width: 100%;
  }
  .table-flex-style {
    font-size: 11px;
    line-height: 13px;
  }
  .items-footer-content {
    text-align: left;
  }
  .list-social-page {
    justify-content: flex-start;
  }
  main .main-title {
    font-size: 25px;
    line-height: 30px;
  }
  .mrb-55-15{
    margin-bottom: 15px;
  }
  .btn-balance-block-parent {
    margin-left: 0;
    width: 100%;
    margin-top: 15px;
  }
  .btn-balance-block-parent .btn {
    width: 182px;
    padding: 9px 10px;
  }
  .price-balance-block-parent {
    font-size: 25px;
    line-height: 30px;
  }
  .table-item-tabs td.left-txt {
    text-align: center;
  }
  .title-popup-h4 {
    font-size: 20px;
    line-height: 32px;
  }

  .usn .item-list-content-info {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
  }

  .usn .li-email-link {
    text-align: center;
  }

  .usn .email-ls-pr {
    color: #61B6D0;
  }

  .usn .email-ls-pr::before {
    background-image: url(../img/email-icon-blue.svg);
  }
  main .taxes .big-green-text {
    font-size: 25px;
    line-height: 30px;
  }
  .mrb-25-550{
    margin-bottom: 25px;
  }
  .form-item input.inp-page {
    height: 50px;
    padding-top: 13px;
  }
  .form-item .form-label {
    top: 16px;
  }
  .form-item .inp-page:focus~.form-label, 
  .form-item .inp-page:not(:focus):valid~.form-label {
    top: 1px;
  }
  .form_login_page .form-item input.inp-page {
    padding-top: 13px!important;
  }
  .btn-form-content-block-page-service .btn {
    width: 100%;
  }
  .form-autopayment .form-item input.inp-page {
    height: 62px;
    padding-top: 23px;
    border: 0;
    border-radius: 0;
    border-bottom: 3px solid #E6E6E6;
  }
  .form-autopayment {
    max-width: 100%;
  }
  .form-autopayment_btn_lnk {
    width: 100%;
    order: 2;
    margin-top: 15px;
    text-align: center;
  }
  .form-autopayment_btn .btn {
    width: 100%;
  }
  .form__part_modal .inp-page {
    border: 0;
    border-bottom: 3px solid #E6E6E6;
    border-radius: 0;
    height: 50px;
  }
  .group_confirm_bottom_txt {
    margin-top: 15px;
  }
  .group_confirm_bottom_btn {
    margin-top: 20px;
  }
  .popup_lk_page-content {
    margin-top: 36px;
  }
  .item_button_app {
    width: 100%;
    margin-bottom: 10px;
  }
  .item_button_app:last-child{
    margin-bottom: 0;
  }
  .item-footer-content-button {
    margin: 0 auto 10px auto;
    max-width: 100%;
  }
  .form__part_modal .inp-page.inp-page-st {
    height: 125px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
  }
  .item__ls_page_image{
    display: none;
  }
  .item__ls_page_cont {
    padding-left: 0;
  }
  .row__title_btn {
    margin-left: 10px;
  }
  .block__info__stp_bottom_wrap {
    flex-wrap: wrap;
  }
  .block__info__stp_bottom {
    padding: 15px;
  }
  .block__info__stp_bottom_txt_lnk {
    padding-right: 0;
    margin-bottom: 15px;
  }
  .block__info__stp_bottom_dip {
    width: 100%;
    padding: 0;
    background-color: transparent;
  }
  .butt__stp {
    background-color: #EBF7E4;
  }
  .block__info__stp_bottom_dip_link {
    background-color: #EBF7E4;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px 10px;
    font-size: 12px;
    line-height: 15px;
  }
  .block__info__stp_top_icon{
    display: none;
  }
  .block__info__stp_top_text{
    padding-right: 0;
  }
  .bl__num_step {
    font-size: 15px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .btn-page-tab {
    width: 100%;
  }
  .popup_content_page .title-popup-h3 {
    text-align: center;
  }
  .table-popup-pay .al-td:nth-child(1) {
    width: 100%;
  }
  .table-flex-style {
    font-size: 10px;
    line-height: 12px;
    word-wrap: break-word;
  }
  .btn-error-block .btn-page-modal {
    width: 100%;
    max-width: 100%;
  }
  .balance-info-form-popup {
    text-align: left;
  }
  .table-popup-pay .al-td:nth-child(2),
  .table-popup-pay .al-td:nth-child(3) {
    width: 50%;
  }
  .title-popup-h3 {
    text-align: left;
  }
  .send-block {
    padding: 1.5rem 0.5rem !important;
  }
  .inp-form-popup {
    width: 100%;
    margin: 0 auto;
  }
  .usn .txt-info-ls-pr {
    padding-right: 56px;
    display: block;
  }

  .quest-link-block {
    top: 0px;
  }

  .quest-link-block .quest-link {
    width: 35px;
    height: 35px;
    background-image: url(../img/question-small-green.png);
    top: -8px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .quest-link-block .quest-link-text {
    top: 31px;
    display: none;
    position: absolute;
    bottom: auto;
    left: auto;
    -webkit-transform: translate(0%);
    transform: translate(0%);
    right: 0;
  }
  .nav-pills a {
    font-size: 14px;
    line-height: 17px;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .group-list-notificat-block {
    padding: 15px 0;
  }
  .text-group-list-notificat-block {
    font-size: 13px;
    line-height: 16px;
  }
  main .taxes .card-usn,
  main .taxes .card-envd,
  main .taxes .card-contributions {
    padding: 20px 10px !important;
  }
  .btn-calc-ls {
    display: block;
    width: 100%;
  }
  .btn-calc-chek {
    width: auto;
    font-size: 13px;
    line-height: 22px;
    padding: 8px 5px;
    flex-grow: 1;
  }
  .radio-tab-calc-list-main li{
    flex-grow: 1;
  }
  .w-206 {
    width: 100%;
  }
  .btn-calc {
    padding: 13px 55px;
  }
  .modal-popup_service .btn-page-modal {
    padding: 20px 20px;
    width: 100%;
    max-width: 100%;
  }
  .btn-tp {
    width: 100%;
  }
  .auto_payment_block-page {
    margin-left: 0;
    max-width: 100%;
    width: 100%;
    margin-top: 17px;
  }
  .title-auto_payment_block-page {
    font-size: 15px;
    line-height: 20px;
  }
  .btn-link-auto_payment_block-page {
    font-size: 14px;
    line-height: 19px;
  }
  .group-link-reports {
    margin-right: 0;
    width: 100%;
    margin-bottom: 5px;
  }
  .reminder-info-block-wrap {
    font-size: 13px;
    line-height: 16px;
  }
  .account-add-lk .btn {
    width: 100%;
    padding: 18px 10px;
    margin-left: auto;
  }
  .info-price-account-add-lk {
    text-align: center;
    margin-bottom: 15px;
  }
  .table-pup-page {
    font-size: 10px;
    line-height: 12px;
  }
  .form-autopayment_btn {
    margin-top: 37px;
  }
  .text-align-center-mob{
    text-align: center;
  }
}
@media only screen and (max-width: 420px) {
  .tr-center-it-table {
    font-size: 13px;
    line-height: 16px;
  }
  .price-main-patent-content {
    font-size: 15px;
    line-height: 22px;
  }
  .tr-left-it-table {
    width: 50px;
  }
  .item-dialogues-page-wrap-right .item-dialogues-page-wrapper {
    width: 95%;
  }
  .tr-right-it-table {
    width: 76px;
  }

  .tr-right-it-table,
  .tr-left-it-table {
    font-size: 15px;
    line-height: 22px;
  }

  .table-contr-mobile {
    font-size: 13px;
    line-height: 18px;
  }

  .fs-12 {
    font-size: 10px;
    line-height: 13px;
  }
  .table-pup-page td, .table-pup-page th {
    padding: 3px;
  }
  .table-pup-page {
    font-size: 8px;
    line-height: 10px;
  }
}
@media only screen and (max-width: 400px) {
  main .taxes .text-title-taxes {
    font-size: 16px;
    width: 126px;
  }
  .calendar-date-table .btn-calendar {
    right: -3px;
  }
  .btn-form {
    width: 100%;
  }
  .main-price-block-calc {
    width: 100%;
    max-width: 287px;
  }
  .button-profile {
    padding: 15px;
    width: 100%;
  }
  .title-item-page-profile-mobile {
    font-size: 14px;
    line-height: 20px;
  }
  .price-content-item-page-profile {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .link-page-profile {
    font-size: 14px;
  }

  main .taxes .title-taxes {
    font-size: 14px;
    line-height: 17px;
  }

  main .taxes .big-green-text {
    font-size: 20px;
    line-height: 25px;
  }

  main .taxes .cost-green,
  main .taxes .cost-income-green {
    font-size: 20px;
  }

  main .taxes .cost-orange,
  main .taxes .cost-consumption-orange {
    font-size: 20px;
  }

  main .taxes .big-black-text {
    font-size: 14px;
  }

  main .taxes .summ-taxes .small-gray-text,
  main .taxes .summ-deduction .small-gray-text,
  main .taxes .usn-table-taxes .small-gray-text,
  main .taxes .contributions .small-gray-text,
  main .taxes .history-operations-income .small-gray-text,
  main .taxes .history-operations-consumption .small-gray-text {
    font-size: 12px;
    line-height: 15px;
  }

  main .taxes .summ-taxes,
  main .taxes .summ-deduction {
    padding: 15px !important;
  }
  .table-item-tabs {
    font-size: 9px;
    line-height: 12px;
  }

  .usn .txt-left-usn-content-top-block-wrap {
    font-size: 16px;
    line-height: 20px;
  }

  .usn .txt-info-ls-pr span {
    margin-left: 0;
    display: block;
  }
  .pr-40 {
    padding-right: 40px;
  }
  .block__auto_payment_btn .btn {
    width: 220px;
  }
  .lnk__auto_payment_block {
    display: block;
    margin-top: 17px;
    margin-bottom: 38px;
  }
  .item__static_pg_col_216 {
    width: 100%;
  }
  .chart_circle {
    width: 100%;
    margin-left: 0;
    max-width: 343px;
    margin: 0 auto;
  }
  .btn-balance-block-parent .btn {
    width: 100%;
    padding: 9px 10px;
    margin: 0;
    margin-bottom: 10px;
  }
  .btn-balance-block-parent {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 380px) {
  .calendar-main .datepicker .datepicker--nav-title span {
    width: 95px;
    margin-left: 10px;
    font-size: 18px;
    line-height: 20px;
  }

  .calendar-main .datepicker .datepicker--nav-title i {
    width: 95px;
    margin-left: 10px;
    font-size: 18px;
    line-height: 20px;
  }

  .datepicker--cell {
    font-size: 15px;
    line-height: 17px;
    padding: 17px 0px;
    height: 24px;
  }

  .datepicker--day-name {
    font-size: 15px;
    line-height: 18px;
  }
  .td_bl_6,
  .tr_cnt_row_total .td_bl_1 {
    width: 70px;
  }
  .td_bl_3{
    width: calc(33.333% - 23.333px);
  }
  .td_bl_4{
    width: calc(33.333% - 23.333px);
  }
  .td_bl_5{
    width: calc(33.333% - 23.333px);
  }

}
